<div class="ql-header warp-content">
  <ul class="component-tab_navs">
    <li class="component-tab_nav active">
      <a href="javascript:void(0);">最新</a>
    </li>
    <li class="component-tab_nav">
      <a href="javascript:void(0);">热门</a>
    </li>
    <li class="component-tab_nav">
      <a href="javascript:void(0);">未回答</a>
    </li>
  </ul>
</div>
<div class="ql-content warp-content">
  <div class="ql-content-left">
    <div role="infoblocks">
      <% @questions.each do |question| %>
          <% if question.recommend_answer %>
              <%= render partial: 'partials/infoblock', :locals => { :question => question, \
                :answer => question.recommend_answer} %>
          <% else %>
              <%= render partial: 'partials/infoblock', :locals => { :question => question} %>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "questions.list" %>
<% end %>