<div class="ql-header warp-content">
  <div class="ql-header-title-container">
    <div class="ql-header-title">问答推荐</div>
  </div>
  <div class="component-categories ql-content-categories">
    <div class="component-category">职场规划</div>
    <div class="component-category component-category-current">实习</div>
    <div class="component-category">毕业生求职</div>
    <div class="component-category">工作方案</div>
    <div class="component-category">创业</div>
    <div class="component-category">职场关系</div>
    <div class="component-category">升职</div>
    <div class="component-category">自我提升</div>
  </div>
</div>
<div class="ql-content warp-content">
  <div class="ql-content-left">
    <div role="infoblocks">

    </div>
  </div>
</div>