<div class="ml-header warp-content">全部消息</div>
<div class="ml-content warp-content">
  <div class="ml-content-left">
    <% if @messages.empty? %>
        <div>没有任何消息。</div>
    <% else %>
        <div role="messageblocks">
          <% @messages.each do |key, messages| %>
             <%= render partial: 'messages/messages_day_block', :locals => {:day_key =>key, :messages => messages} %>
          <% end %>
        </div>
        <a href="javascript:void(0);" data-role='load-more' style="display: none"><i class="spinner-gray"></i>正在加载</a>
    <% end %>
  </div>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "messages.list" %>
<% end %>
