<!--激活成功提示模态框-->
<div class="modal" id="activateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="close" data-dismiss="modal">
        <i class="icons-no"></i>
      </a>
      <div class="modal-container">
        <div class="modal-logo"></div>
      </div>
      <div class="modal-container-desc">您的账号已经注册成功，我们已经将一封邮件发送到您的注册邮箱，需要您登录邮箱进行激活，才能使用职人圈的完整功能，如果没有收到邮件，请<a>重新发送邮件</a>。</div>
      <div class="modal-container">
        <a class="btn-modal-activate" id="activateLink" target="_blank" href="#">进入邮箱激活</a>
      </div>
      <div class="modal-container" data-dismiss="modal">
        <div class="btn-modal-deactivate">暂不激活</div>
      </div>
    </div>
  </div>
</div>