<!--忘记密码模态框-->
<div class="modal" id="forgetPasswordModal">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 250px;">
      <a class="close" data-dismiss="modal">
        <i class="icons-no"></i>
      </a>
      <div class="modal-container">
        <div class="modal-logo"></div>
        <div class="modal-text-title">
          <div class="title">忘记密码</div>
          <div class="sub-title">重设密码邮件会发送到您的邮箱</div>
        </div>
        <input name="email" placeholder="邮箱">
        <a class="btn-modal-activate" id="activateLink" target="_blank" href="#">重设密码</a>
      </div>
    </div>
  </div>
</div>