// Contextual backgrounds

// [converter] $parent hack
@mixin bg-variant($parent, $color) {
  #{$parent} {
    background-color: $color;
  }
  a#{$parent}:hover {
    background-color: darken($color, 10%);
  }
}

@mixin background-clip($param) {
  -webkit-background-clip: -webkit-transform $param;
  -moz-background-clip: -moz-transform $param;
  -o-background-clip: -o-transform $param;
  background-clip: transform $param;
}
