@import "base";
@import "variables";

div[role=infoblocks] {
  clear: both;

  .component-infoblock {
    clear: both;
    overflow: hidden;    //解决子元素浮动时父元素没有被自动撑开的问题
    padding-top: 15px;

    .component-infoblock-left {
      float:left;
      width: 32px;

      .component-infoblock-avatar {
        width: 32px;
        height: 32px;
        display: block;
      }

      .component-infoblock-good {
        margin-top: 6px;

        .component-infoblock-good-num {
          @include border-top-left-radius($border-radius-base);
          @include border-top-right-radius($border-radius-base);
          background-color: #ffe3bb;
          color: #edc17f;
          height: 18px;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
        }

        .component-infoblock-good-action {
          @include border-bottom-left-radius($border-radius-base);
          @include border-bottom-right-radius($border-radius-base);
          margin-top: 1px;
          background-color: #ffe3bb;
          color: #edc17f;
          height: 18px;
          line-height: 16px;
          text-align: center;
          cursor: pointer;
        }

        .icons-good {
          @include inline-block;
          width: 10px;
          height: 11px;
        }
      }
    }

    .component-infoblock-right {
      float:left;
      margin-left: 11px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
      width: 675px;


      .component-infoblock-header {
        font-size: 12px;
        line-height: 12px;

        .icons-vip {
          @include inline-block;
          margin-top: -2px;
          width: 16px;
          height: 13px;
        }

        .component-infoblock-username {
          font-size: 14px;
          line-height: 14px;
          font-weight: bold;
          color: $dark;
        }

        .component-infoblock-action {
          line-height: 14px;
          font-weight: normal;
          color: $light-dark
        }

        .component-infoblock-time {
          line-height: 14px;
          font-weight: normal;
          color:$light-dark;
          float: right;
          margin-right: 10px;
        }
      }

      .component-infoblock-title {
        margin-top: 2px;
        font-size: 14px;
        font-weight: bold;
        height: 23px;
        line-height: 23px;
        color: #EE8E00;
      }

      .component-infoblock-content {
        font-size: 14px;
        line-height: 22px;
        color: $deep-dark;
        font-family: $base-article-family;

        a.showall {
          white-space: nowrap;
          color: #438cca;
        }
      }

      .component-infoblock-footer {
        margin-top: 5px;
        line-height: 22px;

        .component-comment {
          @include inline-block;
          color: $light-dark;
          margin-right: 12px;
          cursor: pointer;

          .icons-comment {
            @include inline-block;
            width: 12px;
            height: 12px;
            margin-right: 4px;
            margin-top: -2px;
          }
        }

        .component-favorites {
          @include inline-block;
          color: $light-dark;
          margin-right: 12px;

          .icons-favorites {
            @include inline-block;
            width: 12px;
            height: 11px;
            margin-right: 4px;
            margin-top: -2px;
          }
        }

        .component-infoblock-subjects {
          @include inline-block;
        }
      }

      .component-infoblock-comment {
        margin: 8px 0 25px;
        background: #fff;
        position: relative;
        border: 1px solid #ddd;
        @include border-radius($border-radius-base);
        @include box-shadow(0 1px 1px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15));

        .component-infoblock-icon-spike {
          display: block;
          position: absolute;
          top: -8px;
          left: 38px;
          width: 13px;
          height: 8px;
          background-position: -200px -165px;
          background-image: url(../images/sprites-zh.png);
          background-repeat: no-repeat;
          vertical-align: middle;
        }

        .component-infoblock-comment-list {
          .component-infoblock-item-comment {
            position: relative;
            margin: 0 12px;
            padding: 8px 0;

            .component-infoblock-item-comment-left {
              float: left;
              width: 25px;
              height: 100%;
              margin-top: 3px;

              img {
                width: 25px;
                height: 25px;
              }
            }

            .component-infoblock-item-comment-right {
              margin: 0 0 0 35px;
              line-height: 22px;
              font-size: 13px;

              .component-infoblock-item-comment-header {
                a {
                  color: $base-color;
                  text-decoration: none;
                  cursor: pointer;
                }
                a:hover {
                  text-decoration: underline;
                }

                span {
                  color: #999;
                }

                .component-infoblock-item-comment-date {
                  float: right;
                  color: #999;
                }
              }

              .component-infoblock-item-comment-content {
                color: #222;
                min-height: 22px;
              }

              .component-infoblock-item-comment-footer {
                .comment-op-link  {
                  margin-right: 12px;
                  color: #999;
                  font-size: 12px;
                  cursor: pointer;
                }

                .icon-comment-agree {
                  margin-right: 5px;
                  width: 11px;
                  height: 11px;
                  vertical-align: -1px;
                  background-position: -222px -92px;
                  background-image: url(../images/sprites-zh.png);
                  background-repeat: no-repeat;
                  display: inline-block;
                }

                .icon-comment-reply {
                  margin-right: 5px;
                  width: 11px;
                  height: 11px;
                  vertical-align: -1px;
                  background-position: -250px -92px;
                  background-image: url(../images/sprites-zh.png);
                  background-repeat: no-repeat;
                  display: inline-block;
                }

                .like-num {
                  color: #999;
                  font-size: 12px;
                  float: right;
                }
              }
            }
          }

          .component-infoblock-item-comment+.component-infoblock-item-comment {
            border-top: solid 1px #eee;
          }
        }
      }
    }
  }
}
