@import "compass/css3";
@import "compass/utilities";

@import "base";
@import "variables";

div[role=navigation] {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;

  height: $navigation-height;
  background-color: $navigation-background-color;
  border-bottom: 2px solid $navigation-border-color;
  width: 100%;

  .warp-content {
    position: relative;
    height: inherit;
  }

  a.top-link-logo {
    float:left;
    background: url(../images/logo.png) no-repeat 0 6px;
    display: block;
    width: 92px;
    height: 100%;
    text-indent: -9999px;
  }

  .top-nav {
    float:left;
    position: relative;

    .top-nav-ul {
      padding: 0;
      margin: 0 0 0 43px;
    }

    .top-nav-li {
      float:left;
      position: relative;
      margin: 0;
      list-style: none;
    }

    .top-nav-link {
      @include text-shadow(0 1px 1px rgba(0,0,0,.12));
      width: 60px;
      height: $navigation-height;
      line-height: $navigation-content-line-height;
      text-align: center;
      display: block;
      color: $light-dark;
      font-size: 16px;
      cursor: pointer;
    }

    a.top-nav-link:hover {
      color: #555;
    }

    .current {
      .top-nav-link {
        color: #ffffff;
        background-color: $navigation-current-link-background-color;
        border-bottom: 2px solid $navigation-current-link-border-color;
      }
      a.top-nav-link:hover {
        color: #ffffff;
      }
    }
  }

  //搜索框
  .top-nav-searchbar {
    float:left;
    display: block;
    line-height: $navigation-content-line-height;
    width: 332px;
    margin-left: 10px;

    .top-nav-search-form {
      float:left;
      position: relative;
    }

    .top-nav-search-input {
//      @include transition(all .2s ease-in-out);
      @include box-sizing(border-box);
      @include border-radius(4px);
      @include box-shadow(inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1));

      padding: 5px 10px;
      font-size: 14px;
      outline: medium none;
      overflow: hidden;
      width: 260px;
      line-height: 17px;
      border: 1px solid #D2D2D2;
      background-color: #ffffff;
      color: #49525c;
    }

    .top-nav-add-question {
      @include btn-base($border-radius-base);
      margin-left: 6px;
      font-size: 14px;
      width: 65px;
      height: 29px;
    }

    .top-nav-search-submit {
      position: absolute;
      right: 9px;
      top: 13px;
      border: 0;
      cursor: pointer;
      display: inline-block;
      background: 0;
      line-height: 55px;

      .icons-search_s {
        width: 18px;
        height: 18px;
        display: block;
      }
    }
  }

  //已登陆
  .top-nav-auth {
    margin: 0;
    position: absolute;
    right: 0;
    line-height: $navigation-height;

    & > li {
      float:left;
      list-style: none;
    }

    a {
      text-align: center;
      display: block;
      white-space: nowrap;
      cursor: pointer;
    }

    .user-logo, .icons-message, .icons-private_message {
      @include inline-block;
      vertical-align: middle;
    }

    .user-logo {
      @include border-radius(3px);

      width: 27px;
      height: 27px;
      padding-right: 10px;
    }

    .icons-message {
      width: 25px;
      height: 20px;
    }

    .icons-private_message {
      width: 26px;
      height: 20px;
    }

    .user-link {
      color: $light-dark2;
      width: auto;
      height: 100%;
      line-height: $navigation-height;
      padding-right: 14px;
      font-size: 14px;
    }

    .message-link {
      width: 45px;
      height: 100%;
      line-height: $navigation-height;
    }

    .private-message-link{
      width: 45px;
      height: 100%;
      line-height: $navigation-height;
    }
  }

  //未登陆
  .top-nav-noauth {
    margin: 0;
    position: absolute;
    right: 0;
    line-height: $navigation-height;

    & > li {
      @include inline-block;
      float:left;
      list-style: none;
      font-size: 14px;
      margin: 0 15px;
    }

    a {
      text-align: center;
      display: block;
      white-space: nowrap;
      cursor: pointer;
      color: $light-dark;
    }

    .icons-user_sign_up {
      @include inline-block;
      @extend .icons-user_sign_up;

      width: 18px;
      height: 18px;
      margin-right: 6px;
    }
  }

  a:hover {
    color: #555;
  }
}