$warp-content-width : 1040px;    //网站内容宽度

//基本颜色定义
$dark:                #000;
$light-dark :         #868686;
$light-dark2 :        #6b6b6b;
$light-dark3 :        #5e5e5e;
$deep-dark :          #222;
$light-grey:          #f6f9f9;
$deep-grey:           #ccc;
$base-color :         #ff9700;   //网站基础颜色
$light-base-color :   #ffa121;   //网站基础颜色
$deep-base-color :    #dd8401;

//字体
$base-font-family:    'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
//$base-article-family: '宋体','Helvetica Neue', Helvetica, Arial, Sans-serif;
$base-article-family: 'Microsoft Yahei','Helvetica Neue', Helvetica, Arial, Sans-serif;
$base-font-size :     12px;
$base-content-line-height:  23px;

//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;


//顶部导航栏
$navigation-height :           44px;
$navigation-content-line-height : 46px;
$navigation-background-color : #f7f7f7;
$navigation-border-color :     #e9e9e9;
$navigation-current-link-background-color: $base-color;
$navigation-current-link-border-color: $deep-base-color;

$body-padding-top: $navigation-height + 2px;

//组件
$border-radius-base:        4px;
$border-radius-large:       6px;
$border-radius-small:       3px;

//== Modals

//** Padding applied to the modal body
$modal-inner-padding:         15px;

//** Padding applied to the modal title
$modal-title-padding:         15px;
//** Modal title line-height
$modal-title-line-height:     14px;

//** Background color of modal content area
$modal-content-bg:                             #fff;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2);
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999;

//** Modal backdrop background color
$modal-backdrop-bg:           #666;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5;
//** Modal header border color
$modal-header-border-color:   #e5e5e5;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color;

$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

//== Popovers
//** Modal content border color
$popover-content-border-color:                   #ccc;
//** Modal content border color **for IE8**
$popover-content-fallback-border-color:           #999 !default;