@import "variables";

div[role=navigation] {
  display: block;
  position: fixed;
  height: 52px;
  background-color: $navigation-background-color;
  border-bottom: 2px solid $navigation-border-color;
  width: 100%;

  .warp-content {
    position: relative;
    height: inherit;
  }

  a.top-link-logo {
    background: url(../images/logo.png) no-repeat 0 10px;
    display: block;
    width: 92px;
    height: 100%;
    float: left;
    text-indent: -9999px;
  }
}