@import "compass/css3/box-sizing";
@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";
@import "compass/css3/images";
@import "compass/utilities/general";
@import "compass/utilities/sprites";

@import "variables";
@import "icons/*.png";
@import "avatars/*.png";
@include all-icons-sprites;
@include all-avatars-sprites;

.home-top {
  background: #000000;
  display: block;
  width: 100%;
  height: 380px;

  .home-top-container {
    display: block;
    width: 100%;
    height: 380px;
    background: url(../images/main_bg.png) top center no-repeat;
    position: relative;

    .home-top-inner-wrap {
      width: 450px;
      height: 38px;
      margin: 0 auto;
      padding-top: 326px;
    }

    .home-top-search-form {
      width: 360px;
      @include float-left;
    }

    .home-top-search-input {
      @include transition(all .2s ease-in-out);
      @include box-sizing(border-box);
      @include border-radius(4px);
      @include box-shadow(inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1));

      padding: 10px 10px;
      font-size: 14px;
      outline: medium none;
      overflow: hidden;
      width: 100%;
      line-height: 17px;
      border: 1px solid #D2D2D2;
      background-color: #ffffff;
      //        background-color: #E1EAF2;
      color: #49525c;
    }

    .home-top-add-question {
      @include transition(all .2s ease-in-out);
      @include border-radius(4px);
      @include box-shadow(0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15));
      @include text-shadow(0 1px 1px rgba(0,0,0,.12));
      @include float-left;

      margin: 0 0 0 6px;
      background: $base-color;
      background-color: $base-color;
      @include background-image(linear-gradient(top,$base-color,$deep-base-color));
      background-repeat: repeat-x;
      color: #FFF;
      font-size: 18px;
      width: 80px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      cursor: pointer;
      border: 1px solid $base-color;
      outline: 0;
    }
  }
}

.home-mid {
  background: url(../images/home_mid_bg.png);
  display: block;
  width: 100%;
  height: 211px;

  .home-mid-title-warp {
    width: 190px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 34px;
  }

  .home-mid-title {
    line-height: 25px;
    font-size: 25px;
  }

  .icons-point_left {
    @include float-left;
    display: block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin: 3px 10px 0 16px;
  }

  .home-mid-subtitle {
    font-size: 14px;
    line-height: 18px;
    color: $light-dark2;
  }

  .warp-content {
    position: relative;
  }

  .home-mid-mentor-switch {
    position: absolute;
    font-size: 12px;
    color: $light-dark3;
    top: 50px;
    right: 0px;
    cursor: pointer;
  }

  .home-mid-mentor-block {
    margin: 0 35px;
    @include float-left;
    width: 188px;

    .home-mid-mentor-logo {
      @include float-left;
      display: block;
      width: 64px;
      height: 64px;
    }

    .home-mid-mentor-desc {
      @include float-left;
      margin-left: 10px;

      .home-mid-mentor-name {
        line-height: 16px;
        font-size: 16px;
        font-weight: bold;
      }

      .home-mid-mentor-company {
        margin-top: 2px;
        line-height: 14px;
        font-size: 12px;
        font-weight: bold;
      }

      .home-mid-mentor-position {
        line-height: 14px;
        font-size: 12px;
      }

      .home-mid-mentor-subjects {
        margin-top: 3px;
      }

      .component-subject {
        @include float-left;
        @include border-radius(4px);
        color: #ffffff;
        background: #fbd28d;
        font-size: 12px;
        line-height: 12px;
        padding: 2px 3px;
        margin-right: 3px;
      }

      .icons-vip {
        @include inline-block;
        width: 16px;
        height: 13px;
        line-height: 16px;
        margin-left: 3px;
        margin-bottom: 2px;
      }
    }
  }
}