<!--评论模版-->
<script type="text/template" id="infoblock-comment-wrapper-template">
    <i class="component-infoblock-icon-spike"></i>
    <div class="component-infoblock-comment-list">
    </div>
    <div class="component-infoblock-comment-footer">
      <div class="component-infoblock-comment-editable" aria-label="写下你的评论…" contenteditable="true"></div>
      <div class="comment-editable-opts">
        <a class="comment-editable-opts-submit">评论</a>
        <a class="comment-editable-opts-cancel">取消</a>
      </div>
    </div>
</script>

<script type="text/template" id="infoblock-comment-item-template">
  <div class="component-infoblock-item-comment">
    <div class="component-infoblock-item-comment-left">
      <img src="{{=user_avatar}}">
    </div>
    <div class="component-infoblock-item-comment-right">
      <div class="component-infoblock-item-comment-header">
        <a>{{=user_name}}</a>
        {{if(is_author) { }}
        <span>（作者）</span>
        {{ } }}
        {{if(is_reply) { }}
        <span>&nbsp;回复&nbsp;</span>
        <a>{{=reply_user_name}}</a>
        {{ } }}
        <span class="component-infoblock-item-comment-date timeago" title="{{=updated_at}}">{{=updated_at}}</span>
      </div>
      <div class="component-infoblock-item-comment-content">{{=content}}</div>
      <div class="component-infoblock-item-comment-footer">
        <a class="comment-op-link">
          <i class="icon-comment-reply"></i>
          <span>回复</span>
        </a>
      </div>
      <div class="component-infoblock-item-comment-form" style="display:none">
        <div class="comment-editable" aria-label="写下你的回复" contenteditable="true"></div>
        <div class="comment-editable-opts">
          <a class="comment-editable-opts-submit">评论</a>
          <a class="comment-editable-opts-cancel">取消</a>
        </div>
      </div>
    </div>
  </div>
</script>