<div role="navigation">
  <div class="warp-content">
    <a class="top-link-logo"></a>
    <div class="top-nav">
      <div class="top-nav-ul">
        <div class="top-nav-li current"><a class="top-nav-link">首页</a></div>
        <div class="top-nav-li"><a class="top-nav-link">职人</a></div>
        <div class="top-nav-li"><a class="top-nav-link">问答</a></div>
        <div class="top-nav-li"><a class="top-nav-link">百科</a></div>
      </div>
    </div>
    <div class="top-nav-searchbar">
      <form method="GET" action="/search" class="top-nav-search-form">
        <input type="text" class="top-nav-search-input" id="q" name="q"
               autocomplete="off" value="" placeholder="搜索问题、经验或导师..." aria-haspopup="true">
        <input type="hidden" name="type" value="question">
        <button type="submit" class="top-nav-search-submit">
          <i class="icons-search_s"></i></button>
      </form>
      <button class="top-nav-add-question">提问</button>
    </div>
    <% if current_user != nil %>
        <ul class="top-nav-auth">
          <li><a class="user-link"><i class="user-logo"></i><%=generate_name(current_user.first_name,current_user.last_name)%></a></li>
          <li><a class="message-link"><i class="icons-message"></i></a></li>
          <li><a class="private-message-link"><i class="icons-private_message"></i></a></li>
        </ul>
    <% else %>
        <ul class="top-nav-noauth">
          <li><a id="btn-sign-up" class="sign-up"><i class="icons-user_sign_up"></i>注册职人圈</a></li>
          <li><a id="btn-sign-in" class="sign-in">登录</a></li>
        </ul>
    <% end %>
  </div>
</div>