<!--系统顶部通知信息-->
<div class="popTips" id="popTips"></div>
<script type="text/template" id="pop-tips-template">
  <div class="popTipsContent {{=type}}" style="width:{{=width}}">{{=content}}</div>
</script>