<div class="profile-card">
  <div class="upper">
    <div class="user-logo"></div>
    <div class="user-desc-container">
      <div class="user-name">陈磊华<i class="icons-vip"></i></div>
      <div class="user-company">网易</div>
      <div class="user-position">高级产品经理</div>
    </div>
  </div>
  <div class="lower">
    <div class="lower-left">
      <div class="lower-accp">接受咨询&nbsp;<em>50</em></div>
      <div class="lower-split"></div>
      <div class="lower-corn">关注&nbsp;<em>50</em></div>
    </div>
    <div class="lower-right">
      <div class="btn-ask">咨询</div>
      <div class="btn-corn"><i class="icons-add"></i>关注</div>
    </div>
  </div>
</div>