/* line 3, ../sass/common.scss */
.warp-content {
  width: 1040px;
  margin: 0 auto;
  clear: both;
}

/* line 9, ../sass/common.scss */
html body, html input, html textarea, html select, html button {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

/* line 13, ../sass/common.scss */
body, input, textarea, select, button {
  line-height: 1.7;
  font-size: 13px;
  padding: 0;
  margin: 0;
  color: #222;
  word-wrap: break-word;
}

/* line 22, ../sass/common.scss */
input[type=text], input[type=password]:focus {
  -webkit-appearance: none;
}

/* line 26, ../sass/common.scss */
div[contentEditable], input, textarea, button, a:link {
  -webkit-tap-highlight-color: rgba(225, 225, 225, 0.5);
}

/* line 30, ../sass/common.scss */
a:link {
  text-decoration: none;
}

/* line 34, ../sass/common.scss */
a:hover {
  text-decoration: underline;
}
