/* line 19, ../sass/component.modal.scss */
.modal-open {
  overflow: hidden;
}

/* line 24, ../sass/component.modal.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
/* line 40, ../sass/component.modal.scss */
.modal.fade .modal-dialog {
  -webkit-transition: "0.3s ease-out";
  -moz-transition: "0.3s ease-out";
  -o-transition: "0.3s ease-out";
  transition: "0.3s ease-out";
  -webkit-transform: 0;
  -moz-transform: 0;
  -ms-transform: 0;
  -o-transform: 0;
  transform: 0;
}
/* line 44, ../sass/component.modal.scss */
.modal.in .modal-dialog {
  -webkit-transform: 0;
  -moz-transform: 0;
  -ms-transform: 0;
  -o-transform: 0;
  transform: 0;
}

/* line 48, ../sass/component.modal.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 54, ../sass/component.modal.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

/* line 61, ../sass/component.modal.scss */
.modal-content {
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

/* line 75, ../sass/component.modal.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
}
/* line 83, ../sass/component.modal.scss */
.modal-backdrop.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 86, ../sass/component.modal.scss */
.modal-backdrop.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 93, ../sass/component.modal.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 29px;
}

/* line 99, ../sass/component.modal.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 104, ../sass/component.modal.scss */
.modal-title {
  margin: 0;
  line-height: 14px;
}

/* line 111, ../sass/component.modal.scss */
.modal-body {
  position: relative;
  padding: 15px;
}

/* line 117, ../sass/component.modal.scss */
.modal-footer {
  overflow: hidden;
  *zoom: 1;
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
/* line 125, ../sass/component.modal.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
/* line 130, ../sass/component.modal.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
/* line 134, ../sass/component.modal.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/* line 140, ../sass/component.modal.scss */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
