/* line 162, icons/*.png */
.icons-sprite, .icons-comment, .icons-favorites, .icons-good, .icons-message, .icons-myanswer_hover, .icons-myconsulting, .icons-mydraft, .icons-myexperience, .icons-myfavorite, .icons-myquestion, .icons-point_left, .icons-private_message, .icons-search, .icons-set, .icons-up_to_top, .icons-vip {
  background: url('/images/icons-s7df1e1f08d.png') no-repeat;
}

/* line 82, avatars/*.png */
.avatars-sprite, .avatars-head_m_01, .avatars-head_m_02, .avatars-head_m_03, .avatars-head_m_04, .avatars-head_s_01, .avatars-head_s_02 {
  background: url('/images/avatars-sc3e49de2d4.png') no-repeat;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment {
  background-position: 0 -280px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-favorites {
  background-position: 0 -258px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-good {
  background-position: 0 -269px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-message {
  background-position: 0 -47px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myanswer_hover {
  background-position: 0 -192px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myconsulting {
  background-position: 0 -86px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mydraft {
  background-position: 0 -104px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myexperience {
  background-position: 0 -240px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myfavorite {
  background-position: 0 -121px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myquestion {
  background-position: 0 -68px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-point_left {
  background-position: 0 -222px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-private_message {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -23px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-set {
  background-position: 0 -210px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-up_to_top {
  background-position: 0 -139px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vip {
  background-position: 0 -179px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_01 {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_02 {
  background-position: 0 -128px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_03 {
  background-position: 0 -192px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_04 {
  background-position: 0 -64px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_01 {
  background-position: 0 -288px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_02 {
  background-position: 0 -256px;
}

/* line 9, ../sass/component.infoblock.scss */
div[role=infoblocks] {
  clear: both;
}
/* line 12, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock {
  padding-top: 21px;
}
/* line 15, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left {
  display: inline;
  float: left;
  width: 32px;
}
/* line 19, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-avatar {
  width: 32px;
  height: 32px;
  display: block;
}
/* line 25, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good {
  margin-top: 6px;
}
/* line 28, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good .component-infoblock-good-num {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ffe3bb;
  color: #edc17f;
  height: 18px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
/* line 39, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good .component-infoblock-good-action {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 1px;
  background-color: #ffe3bb;
  color: #edc17f;
  height: 18px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
/* line 51, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good .icons-good {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 10px;
  height: 11px;
}
/* line 59, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right {
  display: inline;
  float: left;
  margin-left: 11px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
  width: 675px;
}
/* line 66, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header {
  font-size: 12px;
  line-height: 12px;
}
/* line 70, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header .icons-vip {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 16px;
  height: 13px;
}
/* line 76, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header .component-infoblock-username {
  font-weight: bold;
  color: #000000;
}
/* line 81, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header .component-infoblock-action {
  font-weight: normal;
  color: #868686;
}
/* line 87, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-title {
  font-size: 14px;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
  color: #ff9700;
}
/* line 95, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-content {
  font-size: 14px;
  line-height: 22px;
  color: #222222;
}
/* line 101, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer {
  margin-top: 5px;
  line-height: 22px;
}
/* line 105, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-comment {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #868686;
  margin-right: 12px;
}
/* line 110, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-comment .icons-comment {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
/* line 118, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-favorites {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  color: #868686;
  margin-right: 12px;
}
/* line 123, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-favorites .icons-favorites {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 12px;
  height: 11px;
  margin-right: 4px;
  margin-top: -2px;
}
/* line 132, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-infoblock-subjects {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 137, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right a.showall {
  color: #438cca;
}
