/* line 14, ../sass/component.modal.scss */
.modal-open {
  overflow: hidden;
}

/* line 19, ../sass/component.modal.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* line 43, ../sass/component.modal.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 49, ../sass/component.modal.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1050;
}

/* line 57, ../sass/component.modal.scss */
.modal-content {
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

/* line 70, ../sass/component.modal.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #666666;
  min-height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  overflow: visible;
}
/* line 85, ../sass/component.modal.scss */
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
/* line 86, ../sass/component.modal.scss */
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 91, ../sass/component.modal.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 29px;
}

/* line 97, ../sass/component.modal.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 102, ../sass/component.modal.scss */
.modal-title {
  margin: 0;
  line-height: 14px;
}

/* line 109, ../sass/component.modal.scss */
.modal-body {
  position: relative;
  padding: 15px;
}

/* line 115, ../sass/component.modal.scss */
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
/* line 15, ../sass/mixins/_clearfix.scss */
.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/mixins/_clearfix.scss */
.modal-footer:after {
  clear: both;
}
/* line 122, ../sass/component.modal.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
/* line 127, ../sass/component.modal.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
/* line 131, ../sass/component.modal.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/* line 137, ../sass/component.modal.scss */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
