/* line 194, icons/*.png */
.icons-sprite, .icons-add, .icons-comment, .icons-favorites, .icons-good, .icons-message, .icons-myanswer_hover, .icons-myconsulting, .icons-mydraft, .icons-myexperience, .icons-myfavorite, .icons-myquestion, .icons-no, .icons-point_left, .icons-private_message, .icons-search, .icons-search_s, .icons-set, .icons-up_to_top, .icons-user_sign_up, .icons-vip {
  background: url('/images/icons-s1edcc9806c.png') no-repeat;
}

/* line 82, avatars/*.png */
.avatars-sprite, .avatars-head_m_01, .avatars-head_m_02, .avatars-head_m_03, .avatars-head_m_04, .avatars-head_s_01, .avatars-head_s_02 {
  background: url('/images/avatars-sc3e49de2d4.png') no-repeat;
}

/* line 66, big-icons/*.png */
.big-icons-sprite, .big-icons-qq, #authModal .modal-container .sign-with-oth .sign-in-qq, .big-icons-renren, #authModal .modal-container .sign-with-oth .sign-in-renren, .big-icons-weibo, #authModal .modal-container .sign-with-oth .sign-in-weibo, .big-icons-zrquan, #authModal .modal-container .modal-logo, #activateModal .modal-container .modal-logo {
  background: url('/images/big-icons-se25fe173f0.png') no-repeat;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add {
  background-position: 0 -320px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment {
  background-position: 0 -308px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-favorites {
  background-position: 0 -286px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-good {
  background-position: 0 -297px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-message {
  background-position: 0 -47px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myanswer_hover {
  background-position: 0 -210px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myconsulting {
  background-position: 0 -104px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mydraft {
  background-position: 0 -122px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myexperience {
  background-position: 0 -258px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myfavorite {
  background-position: 0 -139px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myquestion {
  background-position: 0 -86px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-no {
  background-position: 0 -276px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-point_left {
  background-position: 0 -240px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-private_message {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -23px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search_s {
  background-position: 0 -68px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-set {
  background-position: 0 -228px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-up_to_top {
  background-position: 0 -157px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user_sign_up {
  background-position: 0 -332px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vip {
  background-position: 0 -197px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_01 {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_02 {
  background-position: 0 -128px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_03 {
  background-position: 0 -192px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_04 {
  background-position: 0 -64px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_01 {
  background-position: 0 -288px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_02 {
  background-position: 0 -256px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-qq, #authModal .modal-container .sign-with-oth .sign-in-qq {
  background-position: 0 -202px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-renren, #authModal .modal-container .sign-with-oth .sign-in-renren {
  background-position: 0 -136px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-weibo, #authModal .modal-container .sign-with-oth .sign-in-weibo {
  background-position: 0 -70px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-zrquan, #authModal .modal-container .modal-logo, #activateModal .modal-container .modal-logo {
  background-position: 0 0;
}

/* line 9, ../sass/component.modal.auth.scss */
#authModal .close {
  position: absolute;
  display: block;
  right: 15px;
  top: 12px;
  line-height: 10px;
  cursor: pointer;
}
/* line 18, ../sass/component.modal.auth.scss */
#authModal .icons-no {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
}
/* line 24, ../sass/component.modal.auth.scss */
#authModal .modal-dialog {
  display: block;
}
/* line 28, ../sass/component.modal.auth.scss */
#authModal .modal-content {
  width: 510px;
  height: 480px;
  background: #ffffff;
}
/* line 34, ../sass/component.modal.auth.scss */
#authModal .modal-container {
  width: 232px;
  margin: 40px auto;
}
/* line 38, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-logo {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 70px;
}
/* line 46, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-sub-header {
  border-top: 1px solid #efefef;
  margin-top: 12px;
  text-align: center;
  font-size: 12px;
  color: #a7a7a7;
}
/* line 54, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-input {
  margin: 5px 0;
}
/* line 15, ../sass/mixins/_clearfix.scss */
#authModal .modal-container .modal-input:before, #authModal .modal-container .modal-input:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/mixins/_clearfix.scss */
#authModal .modal-container .modal-input:after {
  clear: both;
}
/* line 59, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-input-checkbox {
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  color: #a7a7a7;
  text-align: center;
  text-decoration: underline;
}
/* line 68, ../sass/component.modal.auth.scss */
#authModal .modal-container .first-name {
  float: left;
  width: 74px;
}
/* line 73, ../sass/component.modal.auth.scss */
#authModal .modal-container .last-name {
  float: left;
  width: 122px;
  margin-left: 8px;
}
/* line 79, ../sass/component.modal.auth.scss */
#authModal .modal-container .email, #authModal .modal-container .password {
  width: 218px;
}
/* line 15, ../sass/mixins/_clearfix.scss */
#authModal .modal-container .email:before, #authModal .modal-container .email:after, #authModal .modal-container .password:before, #authModal .modal-container .password:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/mixins/_clearfix.scss */
#authModal .modal-container .email:after, #authModal .modal-container .password:after {
  clear: both;
}
/* line 84, ../sass/component.modal.auth.scss */
#authModal .modal-container .btn-sign-up, #authModal .modal-container .btn-sign-in {
  margin-top: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  background: #ff9700;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -o-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(top, #ff9700, #dd8401);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/* line 98, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-up {
  margin-top: 5px;
  text-align: center;
}
/* line 102, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-up a {
  text-decoration: underline;
  color: #ff9900;
  cursor: pointer;
}
/* line 109, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-in {
  margin-top: 5px;
  text-align: left;
}
/* line 113, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-in a {
  text-decoration: underline;
  color: #ff9900;
  cursor: pointer;
}
/* line 15, ../sass/mixins/_clearfix.scss */
#authModal .modal-container .sign-with-oth:before, #authModal .modal-container .sign-with-oth:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/mixins/_clearfix.scss */
#authModal .modal-container .sign-with-oth:after {
  clear: both;
}
/* line 123, ../sass/component.modal.auth.scss */
#authModal .modal-container .sign-with-oth .sign-in-weibo, #authModal .modal-container .sign-with-oth .sign-in-qq, #authModal .modal-container .sign-with-oth .sign-in-renren {
  width: 66px;
  height: 66px;
  display: block;
  float: left;
  margin: 5px;
  cursor: pointer;
}
/* line 143, ../sass/component.modal.auth.scss */
#authModal input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  padding: 7px 6px;
  line-height: 14px;
  font-size: 14px;
  outline: none;
}

/* line 155, ../sass/component.modal.auth.scss */
#activateModal .close {
  position: absolute;
  display: block;
  right: 15px;
  top: 12px;
  line-height: 10px;
  cursor: pointer;
}
/* line 164, ../sass/component.modal.auth.scss */
#activateModal .icons-no {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
}
/* line 170, ../sass/component.modal.auth.scss */
#activateModal .modal-dialog {
  display: block;
}
/* line 174, ../sass/component.modal.auth.scss */
#activateModal .modal-content {
  width: 510px;
  height: 362px;
  background: #ffffff;
  padding-top: 42px;
}
/* line 181, ../sass/component.modal.auth.scss */
#activateModal .modal-container {
  margin: 0 auto;
  width: 232px;
}
/* line 185, ../sass/component.modal.auth.scss */
#activateModal .modal-container .modal-logo {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 70px;
}
/* line 193, ../sass/component.modal.auth.scss */
#activateModal .modal-container .btn-modal-activate {
  margin-top: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  background: #ff9700;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -o-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(top, #ff9700, #dd8401);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/* line 207, ../sass/component.modal.auth.scss */
#activateModal .modal-container .btn-modal-deactivate {
  margin-top: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  background: #e0e0e0;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/* line 221, ../sass/component.modal.auth.scss */
#activateModal .modal-container-desc {
  margin: 35px auto;
  width: 380px;
  font-size: 14px;
  line-height: 22px;
  color: #757575;
}
/* line 228, ../sass/component.modal.auth.scss */
#activateModal .modal-container-desc a {
  text-decoration: underline;
  color: #ff9900;
  cursor: pointer;
}
