/* line 4, ../sass/component.subject.scss */
.component-subject {
  display: inline;
  float: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  background: #fbd28d;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 3px;
  margin-right: 3px;
}
