/* line 186, icons/*.png */
.icons-sprite, .icons-comment, .icons-favorites, .icons-good, .icons-message, .icons-myanswer_hover, .icons-myconsulting, .icons-mydraft, .icons-myexperience, .icons-myfavorite, .icons-myquestion, .icons-no, .icons-point_left, .icons-private_message, .icons-search, .icons-search_s, .icons-set, .icons-up_to_top, .icons-user_sign_up, .icons-vip {
  background: url('/images/icons-s8b6eef0fcb.png') no-repeat;
}

/* line 82, avatars/*.png */
.avatars-sprite, .avatars-head_m_01, .avatars-head_m_02, .avatars-head_m_03, .avatars-head_m_04, .avatars-head_s_01, .avatars-head_s_02 {
  background: url('/images/avatars-sc3e49de2d4.png') no-repeat;
}

/* line 66, big-icons/*.png */
.big-icons-sprite, .big-icons-qq, .big-icons-renren, .big-icons-weibo, .big-icons-zrquan {
  background: url('/images/big-icons-se25fe173f0.png') no-repeat;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment {
  background-position: 0 -308px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-favorites {
  background-position: 0 -286px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-good {
  background-position: 0 -297px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-message {
  background-position: 0 -47px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myanswer_hover {
  background-position: 0 -210px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myconsulting {
  background-position: 0 -104px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mydraft {
  background-position: 0 -122px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myexperience {
  background-position: 0 -258px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myfavorite {
  background-position: 0 -139px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myquestion {
  background-position: 0 -86px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-no {
  background-position: 0 -276px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-point_left {
  background-position: 0 -240px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-private_message {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -23px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search_s {
  background-position: 0 -68px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-set {
  background-position: 0 -228px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-up_to_top {
  background-position: 0 -157px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user_sign_up {
  background-position: 0 -320px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vip {
  background-position: 0 -197px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_01 {
  background-position: 0 0;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_02 {
  background-position: 0 -128px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_03 {
  background-position: 0 -192px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_04 {
  background-position: 0 -64px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_01 {
  background-position: 0 -288px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_02 {
  background-position: 0 -256px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-qq {
  background-position: 0 -202px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-renren {
  background-position: 0 -136px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-weibo {
  background-position: 0 -70px;
}

/* line 60, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-zrquan {
  background-position: 0 0;
}

/* line 7, ../sass/component.popover.profile.scss */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  padding: 12px;
}
/* line 14, ../sass/component.popover.profile.scss */
.popover .popover-content {
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: -webkit-transform padding-box;
  -moz-background-clip: -moz-transform padding-box;
  -o-background-clip: -o-transform padding-box;
  background-clip: transform padding-box;
  overflow: hidden;
}
/* line 22, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card {
  width: 380px;
  height: 155px;
  background: #ffffff;
}
/* line 31, ../sass/component.popover.profile.scss */
.popover .arrow, .popover .arrow2 {
  position: absolute;
  width: 0;
  height: 0;
  left: 91px;
  margin-left: -13px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
/* line 41, ../sass/component.popover.profile.scss */
.popover .arrow {
  top: 0;
  border-bottom: 13px solid rgba(0, 0, 0, 0.2);
}
/* line 46, ../sass/component.popover.profile.scss */
.popover .arrow2 {
  top: 1px;
  border-bottom: 13px solid #fff;
}
