/* line 88, icons/*.png */
.icons-sprite, .icons-message, .icons-point_left, .icons-private_message, .icons-search, .icons-set, .icons-vip {
  background-image: url('/images/icons-sf5a0448097.png');
  background-repeat: no-repeat;
}

/* line 80, avatars/*.png */
.avatars-sprite, .avatars-head_m_01, .avatars-head_m_02, .avatars-head_m_03, .avatars-head_m_04, .avatars-head_s_01 {
  background-image: url('/images/avatars-s9f149b3f17.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-message {
  background-position: 0 0;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-point_left {
  background-position: 0 -21px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-private_message {
  background-position: 0 -39px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -62px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-set {
  background-position: 0 -86px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vip {
  background-position: 0 -98px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_01 {
  background-position: 0 0;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_02 {
  background-position: 0 -64px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_03 {
  background-position: 0 -128px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_04 {
  background-position: 0 -192px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_01 {
  background-position: 0 -256px;
}

/* line 17, ../sass/layout.home.scss */
.home-top {
  background: #000000;
  display: block;
  width: 100%;
  height: 380px;
}
/* line 23, ../sass/layout.home.scss */
.home-top .home-top-container {
  display: block;
  width: 100%;
  height: 380px;
  background: url(../images/main_bg.png) top center no-repeat;
  position: relative;
}
/* line 30, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-inner-wrap {
  width: 450px;
  height: 38px;
  margin: 0 auto;
  padding-top: 326px;
}
/* line 37, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-search-form {
  width: 360px;
  float: left;
}
/* line 42, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-search-input {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 10px 10px;
  font-size: 14px;
  outline: medium none;
  overflow: hidden;
  width: 100%;
  line-height: 17px;
  border: 1px solid #D2D2D2;
  background-color: #ffffff;
  color: #49525c;
}
/* line 60, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-add-question {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  float: left;
  margin: 0 0 0 6px;
  background: #ff9700;
  background-color: #ff9700;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkODQwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(to bottom, #ff9700, #dd8401);
  background-repeat: repeat-x;
  color: #FFF;
  font-size: 18px;
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ff9700;
  outline: 0;
}

/* line 85, ../sass/layout.home.scss */
.home-mid {
  background: url(../images/home_mid_bg.png);
  display: block;
  width: 100%;
  height: 211px;
}
/* line 91, ../sass/layout.home.scss */
.home-mid .home-mid-title-warp {
  width: 190px;
  margin: 0 auto;
  padding-top: 26px;
}
/* line 97, ../sass/layout.home.scss */
.home-mid .home-mid-title {
  line-height: 25px;
  font-size: 25px;
}
/* line 102, ../sass/layout.home.scss */
.home-mid .icons-point_left {
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 3px 10px 0 16px;
}
/* line 111, ../sass/layout.home.scss */
.home-mid .home-mid-subtitle {
  font-size: 14px;
  line-height: 18px;
}
/* line 116, ../sass/layout.home.scss */
.home-mid .warp-content {
  padding-top: 34px;
}
/* line 120, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block {
  margin: 0 35px;
  float: left;
  width: 188px;
}
/* line 125, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-logo {
  float: left;
  display: block;
  width: 64px;
  height: 64px;
}
/* line 132, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc {
  float: left;
  margin-left: 10px;
}
/* line 136, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-name {
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
}
/* line 142, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-company {
  margin-top: 2px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
}
/* line 149, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-position {
  line-height: 14px;
  font-size: 12px;
}
/* line 154, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-subjects {
  margin-top: 3px;
}
/* line 158, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .component-subject {
  float: left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  background: #fbd28d;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 3px;
  margin-right: 3px;
}
/* line 169, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .icons-vip {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 16px;
  height: 13px;
  line-height: 16px;
  margin-left: 3px;
  margin-bottom: 2px;
}
