/* line 5, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/mixins/_clearfix.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 19, ../sass/mixins/_clearfix.scss */
.clearfix:after {
  clear: both;
}

/* line 12, ../sass/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../sass/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../sass/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../sass/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../sass/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 45, ../sass/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 54, ../sass/_utilities.scss */
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* jquery.Jcrop.css v0.9.12 - MIT License */
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
/* line 11, ../sass/lib/_jquery.jcrop.scss */
.jcrop-holder {
  direction: ltr;
  text-align: left;
}

/* Selection Border */
/* line 16, ../sass/lib/_jquery.jcrop.scss */
.jcrop-vline,
.jcrop-hline {
  font-size: 0;
  position: absolute;
}

/* line 22, ../sass/lib/_jquery.jcrop.scss */
.jcrop-vline {
  height: 100%;
  width: 1px !important;
}

/* line 26, ../sass/lib/_jquery.jcrop.scss */
.jcrop-vline.right {
  right: 0;
}

/* line 29, ../sass/lib/_jquery.jcrop.scss */
.jcrop-hline {
  height: 1px !important;
  width: 100%;
}

/* line 33, ../sass/lib/_jquery.jcrop.scss */
.jcrop-hline.bottom {
  bottom: 0;
}

/* Invisible click targets */
/* line 37, ../sass/lib/_jquery.jcrop.scss */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}

/* Selection Handles */
/* line 48, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}

/* line 55, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

/* line 61, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* line 67, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}

/* line 73, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}

/* line 79, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

/* line 85, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}

/* line 91, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}

/* line 97, ../sass/lib/_jquery.jcrop.scss */
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* Dragbars */
/* line 104, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}

/* line 109, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}

/* line 114, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dragbar.ord-n {
  margin-top: -4px;
}

/* line 117, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}

/* line 121, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}

/* line 125, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dragbar.ord-w {
  margin-left: -4px;
}

/* The "jcrop-light" class/extension */
/* line 129, ../sass/lib/_jquery.jcrop.scss */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

/* line 135, ../sass/lib/_jquery.jcrop.scss */
.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}

/* The "jcrop-dark" class/extension */
/* line 143, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

/* line 149, ../sass/lib/_jquery.jcrop.scss */
.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}

/* Simple macro to turn off the antlines */
/* line 157, ../sass/lib/_jquery.jcrop.scss */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}

/* Fix for twitter bootstrap et al. */
/* line 162, ../sass/lib/_jquery.jcrop.scss */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}

/* line 3, ../sass/layout.scss */
body {
  padding-top: 52px;
}

/* line 7, ../sass/layout.scss */
.warp-content, .home-content {
  width: 1040px;
  margin: 0 auto;
  clear: both;
}

/* line 13, ../sass/layout.scss */
html body, html input, html textarea, html select, html button {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}

/* line 17, ../sass/layout.scss */
body, input, textarea, select, button {
  line-height: 1.7;
  font-size: 13px;
  padding: 0;
  margin: 0;
  color: #222;
  word-wrap: break-word;
}

/* line 26, ../sass/layout.scss */
input[type=text], input[type=password]:focus {
  -webkit-appearance: none;
}

/* line 30, ../sass/layout.scss */
div[contentEditable], input, textarea, button, a:link {
  -webkit-tap-highlight-color: rgba(225, 225, 225, 0.5);
}

/* line 34, ../sass/layout.scss */
a:link {
  text-decoration: none;
}

/* line 38, ../sass/layout.scss */
a:hover {
  text-decoration: underline;
}

/* line 200, icons/*.png */
.icons-sprite, .icons-add, .icons-comment, .icons-favorites, .icons-good, .icons-message, .icons-myanswer_hover, .icons-myconsulting, .icons-mydraft, .icons-myexperience, .icons-myfavorite, .icons-myquestion, .icons-no, .icons-point_left, .icons-private_message, .icons-search, .icons-search_s, .icons-set, .icons-up_to_top, .icons-user_sign_up, div[role=navigation] .top-nav-noauth .icons-user_sign_up, .icons-vip {
  background-image: url('/images/icons-sc019d1d5a2.png');
  background-repeat: no-repeat;
}

/* line 88, avatars/*.png */
.avatars-sprite, .avatars-head_m_01, .popover .popover-content .profile-card .upper .user-logo, .avatars-head_m_02, .avatars-head_m_03, .avatars-head_m_04, .avatars-head_s_01, div[role=navigation] .top-nav-auth .user-logo, .avatars-head_s_02 {
  background-image: url('/images/avatars-sfa42aeeada.png');
  background-repeat: no-repeat;
}

/* line 72, big-icons/*.png */
.big-icons-sprite, .big-icons-qq, #authModal .modal-container .sign-with-oth .sign-in-qq, .big-icons-renren, #authModal .modal-container .sign-with-oth .sign-in-renren, .big-icons-weibo, #authModal .modal-container .sign-with-oth .sign-in-weibo, .big-icons-zrquan, #authModal .modal-container .modal-logo, #activateModal .modal-container .modal-logo {
  background-image: url('/images/big-icons-sdb12854628.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-add {
  background-position: 0 0;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-comment {
  background-position: 0 -12px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-favorites {
  background-position: 0 -24px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-good {
  background-position: 0 -35px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-message {
  background-position: 0 -46px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myanswer_hover {
  background-position: 0 -67px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myconsulting {
  background-position: 0 -85px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mydraft {
  background-position: 0 -103px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myexperience {
  background-position: 0 -120px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myfavorite {
  background-position: 0 -138px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-myquestion {
  background-position: 0 -156px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-no {
  background-position: 0 -174px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-point_left {
  background-position: 0 -184px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-private_message {
  background-position: 0 -202px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -225px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search_s {
  background-position: 0 -249px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-set {
  background-position: 0 -267px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-up_to_top {
  background-position: 0 -279px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user_sign_up, div[role=navigation] .top-nav-noauth .icons-user_sign_up {
  background-position: 0 -319px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-vip {
  background-position: 0 -337px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_01, .popover .popover-content .profile-card .upper .user-logo {
  background-position: 0 0;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_02 {
  background-position: 0 -64px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_03 {
  background-position: 0 -128px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_m_04 {
  background-position: 0 -192px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_01, div[role=navigation] .top-nav-auth .user-logo {
  background-position: 0 -256px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.avatars-head_s_02 {
  background-position: 0 -288px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-qq, #authModal .modal-container .sign-with-oth .sign-in-qq {
  background-position: 0 0;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-renren, #authModal .modal-container .sign-with-oth .sign-in-renren {
  background-position: 0 -66px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-weibo, #authModal .modal-container .sign-with-oth .sign-in-weibo {
  background-position: 0 -132px;
}

/* line 84, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.big-icons-zrquan, #authModal .modal-container .modal-logo, #activateModal .modal-container .modal-logo {
  background-position: 0 -198px;
}

/* line 13, ../sass/layout.navigation.scss */
div[role=navigation] {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  height: 50px;
  background-color: #f7f7f7;
  border-bottom: 2px solid #e9e9e9;
  width: 100%;
}
/* line 25, ../sass/layout.navigation.scss */
div[role=navigation] .warp-content, div[role=navigation] .home-content {
  position: relative;
  height: inherit;
}
/* line 30, ../sass/layout.navigation.scss */
div[role=navigation] a.top-link-logo {
  float: left;
  background: url(../images/logo.png) no-repeat 0 10px;
  display: block;
  width: 92px;
  height: 100%;
  text-indent: -9999px;
}
/* line 39, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav {
  float: left;
  position: relative;
}
/* line 43, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav .top-nav-ul {
  padding: 0;
  margin: 0 0 0 43px;
}
/* line 48, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav .top-nav-li {
  float: left;
  position: relative;
  margin: 0;
  list-style: none;
}
/* line 55, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav .top-nav-link {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: block;
  color: #868686;
  font-size: 18px;
  cursor: pointer;
}
/* line 68, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav .current .top-nav-link {
  color: #ffffff;
  background-color: #ff9700;
  border-bottom: 2px solid #dd8401;
}
/* line 77, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-searchbar {
  float: left;
  display: block;
  line-height: 50px;
  width: 332px;
  margin-left: 10px;
}
/* line 84, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-searchbar .top-nav-search-form {
  float: left;
  position: relative;
}
/* line 89, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-searchbar .top-nav-search-input {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  font-size: 14px;
  outline: medium none;
  overflow: hidden;
  width: 260px;
  line-height: 17px;
  border: 1px solid #D2D2D2;
  background-color: #ffffff;
  color: #49525c;
}
/* line 107, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-searchbar .top-nav-add-question {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  margin: 0 0 0 6px;
  background: #ff9700;
  background-color: #ff9700;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkODQwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(to bottom, #ff9700, #dd8401);
  background-repeat: repeat-x;
  color: #FFF;
  font-size: 14px;
  width: 65px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ff9700;
  outline: 0;
}
/* line 129, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-searchbar .top-nav-search-submit {
  position: absolute;
  right: 7px;
  top: 15px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  background: 0;
  line-height: 55px;
}
/* line 139, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-searchbar .top-nav-search-submit .icons-search_s {
  width: 18px;
  height: 18px;
  display: block;
}
/* line 148, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth {
  margin: 0;
  position: absolute;
  right: 0;
  line-height: 50px;
}
/* line 154, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth > li {
  float: left;
  list-style: none;
}
/* line 159, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth a {
  text-align: center;
  display: block;
  white-space: nowrap;
  cursor: pointer;
}
/* line 166, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth .user-logo, div[role=navigation] .top-nav-auth .icons-message, div[role=navigation] .top-nav-auth .icons-private_message {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
/* line 171, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth .user-logo {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 32px;
  height: 32px;
  padding-right: 12px;
}
/* line 180, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth .icons-message {
  width: 26px;
  height: 21px;
}
/* line 185, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth .icons-private_message {
  width: 29px;
  height: 23px;
}
/* line 190, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth .user-link {
  color: #6b6b6b;
  width: auto;
  height: 100%;
  line-height: 50px;
  padding-right: 16px;
  font-size: 16px;
}
/* line 199, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth .message-link {
  width: 45px;
  height: 100%;
  line-height: 50px;
}
/* line 205, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-auth .private-message-link {
  width: 45px;
  height: 100%;
  line-height: 50px;
}
/* line 213, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-noauth {
  margin: 0;
  position: absolute;
  right: 0;
  line-height: 50px;
}
/* line 219, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-noauth > li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: left;
  list-style: none;
  font-size: 14px;
  margin: 0 15px;
}
/* line 227, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-noauth a {
  text-align: center;
  display: block;
  white-space: nowrap;
  cursor: pointer;
  color: #868686;
}
/* line 235, ../sass/layout.navigation.scss */
div[role=navigation] .top-nav-noauth .icons-user_sign_up {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

/* line 7, ../sass/layout.home.scss */
.home-top {
  background: #000000;
  display: block;
  width: 100%;
  height: 380px;
}
/* line 13, ../sass/layout.home.scss */
.home-top .home-top-container {
  display: block;
  width: 100%;
  height: 380px;
  background: url(../images/home/main_bg.png) top center no-repeat;
  position: relative;
}
/* line 20, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-inner-wrap {
  width: 450px;
  height: 38px;
  margin: 0 auto;
  padding-top: 326px;
}
/* line 27, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-search-form {
  position: relative;
  width: 360px;
  float: left;
}
/* line 33, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-search-input {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1);
  padding: 9px 10px;
  font-size: 14px;
  outline: medium none;
  overflow: hidden;
  width: 100%;
  line-height: 18px;
  border: 1px solid #D2D2D2;
  background-color: #ffffff;
  color: #49525c;
  height: 38px;
}
/* line 51, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-add-question {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  float: left;
  margin: 0 0 0 6px;
  background: #ff9700;
  background-color: #ff9700;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkODQwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(to bottom, #ff9700, #dd8401);
  background-repeat: repeat-x;
  color: #FFF;
  font-size: 18px;
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ff9700;
  outline: 0;
}
/* line 74, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-search-submit {
  position: absolute;
  right: 4px;
  top: 0px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  background: 0;
  margin-top: 8px;
}
/* line 84, ../sass/layout.home.scss */
.home-top .home-top-container .home-top-search-submit .icons-search {
  width: 30px;
  height: 24px;
  display: inline-block;
}

/* line 93, ../sass/layout.home.scss */
.home-mid {
  background: url(../images/home/home_mid_bg.png);
  display: block;
  width: 100%;
  height: 211px;
}
/* line 99, ../sass/layout.home.scss */
.home-mid .home-mid-title-warp {
  width: 190px;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 34px;
}
/* line 106, ../sass/layout.home.scss */
.home-mid .home-mid-title {
  line-height: 25px;
  font-size: 25px;
}
/* line 111, ../sass/layout.home.scss */
.home-mid .icons-point_left {
  float: left;
  display: block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin: 3px 10px 0 16px;
}
/* line 120, ../sass/layout.home.scss */
.home-mid .home-mid-subtitle {
  font-size: 14px;
  line-height: 18px;
  color: #6b6b6b;
}
/* line 126, ../sass/layout.home.scss */
.home-mid .warp-content, .home-mid .home-content {
  position: relative;
}
/* line 130, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-switch {
  position: absolute;
  font-size: 12px;
  color: #5e5e5e;
  top: 50px;
  right: 0px;
  cursor: pointer;
}
/* line 139, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block {
  margin: 0 35px;
  float: left;
  width: 188px;
}
/* line 144, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-logo {
  float: left;
  display: block;
  width: 64px;
  height: 64px;
}
/* line 151, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc {
  float: left;
  margin-left: 10px;
}
/* line 155, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-name {
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
}
/* line 161, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-company {
  margin-top: 2px;
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
}
/* line 168, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-position {
  line-height: 14px;
  font-size: 12px;
}
/* line 173, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .home-mid-mentor-subjects {
  margin-top: 3px;
}
/* line 177, ../sass/layout.home.scss */
.home-mid .home-mid-mentor-block .home-mid-mentor-desc .icons-vip {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 16px;
  height: 13px;
  line-height: 16px;
  margin-left: 3px;
  margin-bottom: 2px;
}

/* line 189, ../sass/layout.home.scss */
.home-content {
  margin-top: 35px;
  overflow: hidden;
  *zoom: 1;
}
/* line 194, ../sass/layout.home.scss */
.home-content .home-left-content {
  float: left;
}
/* line 198, ../sass/layout.home.scss */
.home-content .home-news {
  float: left;
  border-bottom: 1px solid #CCCCCC;
  width: 722px;
  height: 32px;
}
/* line 204, ../sass/layout.home.scss */
.home-content .home-news .home-news-header {
  float: left;
  height: 24px;
  font-size: 24px;
  line-height: 24px;
}
/* line 211, ../sass/layout.home.scss */
.home-content .home-news .icons-point_left {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 8px;
  margin-top: 2px;
}
/* line 219, ../sass/layout.home.scss */
.home-content .home-news .home-news-ul {
  float: right;
}
/* line 222, ../sass/layout.home.scss */
.home-content .home-news .home-news-ul .home-news-li {
  float: left;
  margin: 0 10px;
  width: 38px;
  font-size: 16px;
  text-align: center;
  height: 30px;
  cursor: pointer;
}
/* line 232, ../sass/layout.home.scss */
.home-content .home-news .home-news-ul .home-news-li-current {
  color: #ffa121;
  border-bottom: 3px solid #ff9700;
}
/* line 239, ../sass/layout.home.scss */
.home-content .home-right-panel {
  float: right;
  width: 270px;
}
/* line 243, ../sass/layout.home.scss */
.home-content .home-right-panel .home-right-panel-ad {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 270px;
  height: 101px;
  display: block;
  background: url(../images/home/home_ad.png) no-repeat;
}
/* line 251, ../sass/layout.home.scss */
.home-content .home-right-panel .home-right-panel-ul {
  margin-top: 25px;
}
/* line 254, ../sass/layout.home.scss */
.home-content .home-right-panel .home-right-panel-ul .home-right-panel-li {
  margin-bottom: 3px;
  line-height: 32px;
  height: 32px;
  font-size: 14px;
  color: #6b6b6b;
  background: #F7F7F7;
  cursor: pointer;
}
/* line 264, ../sass/layout.home.scss */
.home-content .home-right-panel .home-right-panel-ul .home-right-panel-li-hover {
  background: #E0E0E0;
  border-right: 6px solid #ff9700;
}
/* line 270, ../sass/layout.home.scss */
.home-content .home-right-panel .icons-myanswer_hover, .home-content .home-right-panel .icons-myconsulting, .home-content .home-right-panel .icons-mydraft, .home-content .home-right-panel .icons-myquestion, .home-content .home-right-panel .icons-myfavorite, .home-content .home-right-panel .icons-myexperience {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 19px;
  height: 18px;
  margin-left: 12px;
  margin-right: 15px;
}

/* line 14, ../sass/component.modal.scss */
.modal-open {
  overflow: hidden;
}

/* line 19, ../sass/component.modal.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* line 43, ../sass/component.modal.scss */
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

/* line 49, ../sass/component.modal.scss */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: 1050;
}

/* line 57, ../sass/component.modal.scss */
.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

/* line 70, ../sass/component.modal.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #666;
  min-height: 100% !important;
  width: 100% !important;
  height: 100% !important;
  overflow: visible;
}
/* line 85, ../sass/component.modal.scss */
.modal-backdrop.fade {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 86, ../sass/component.modal.scss */
.modal-backdrop.in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 91, ../sass/component.modal.scss */
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 29px;
}

/* line 97, ../sass/component.modal.scss */
.modal-header .close {
  margin-top: -2px;
}

/* line 102, ../sass/component.modal.scss */
.modal-title {
  margin: 0;
  line-height: 14px;
}

/* line 109, ../sass/component.modal.scss */
.modal-body {
  position: relative;
  padding: 15px;
}

/* line 115, ../sass/component.modal.scss */
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  *zoom: 1;
}
/* line 122, ../sass/component.modal.scss */
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
/* line 127, ../sass/component.modal.scss */
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
/* line 131, ../sass/component.modal.scss */
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

/* line 137, ../sass/component.modal.scss */
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

/* line 4, ../sass/component.subject.scss */
.component-subject {
  float: left;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  background: #fbd28d;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 3px;
  margin-right: 3px;
}

/* line 9, ../sass/component.infoblock.scss */
div[role=infoblocks] {
  clear: both;
}
/* line 12, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock {
  clear: both;
  padding-top: 21px;
}
/* line 16, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left {
  float: left;
  width: 32px;
}
/* line 20, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-avatar {
  width: 32px;
  height: 32px;
  display: block;
}
/* line 26, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good {
  margin-top: 6px;
}
/* line 29, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good .component-infoblock-good-num {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #ffe3bb;
  color: #edc17f;
  height: 18px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
/* line 40, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good .component-infoblock-good-action {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 1px;
  background-color: #ffe3bb;
  color: #edc17f;
  height: 18px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
}
/* line 52, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-left .component-infoblock-good .icons-good {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 11px;
}
/* line 60, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right {
  float: left;
  margin-left: 11px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
  width: 675px;
}
/* line 67, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header {
  font-size: 12px;
  line-height: 12px;
}
/* line 71, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header .icons-vip {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 16px;
  height: 13px;
}
/* line 77, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header .component-infoblock-username {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}
/* line 83, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header .component-infoblock-action {
  font-weight: normal;
  color: #868686;
}
/* line 88, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-header .component-infoblock-time {
  font-weight: normal;
  color: #868686;
  float: right;
  margin-right: 10px;
}
/* line 96, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-title {
  margin-top: 2px;
  font-size: 14px;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
  color: #ff9700;
}
/* line 105, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-content {
  font-size: 14px;
  line-height: 22px;
  color: #222;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, Sans-serif;
}
/* line 112, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer {
  margin-top: 5px;
  line-height: 22px;
}
/* line 116, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-comment {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #868686;
  margin-right: 12px;
}
/* line 121, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-comment .icons-comment {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 12px;
  height: 12px;
  margin-right: 6px;
}
/* line 129, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-favorites {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #868686;
  margin-right: 12px;
}
/* line 134, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-favorites .icons-favorites {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 12px;
  height: 11px;
  margin-right: 4px;
  margin-top: -2px;
}
/* line 143, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right .component-infoblock-footer .component-infoblock-subjects {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 148, ../sass/component.infoblock.scss */
div[role=infoblocks] .component-infoblock .component-infoblock-right a.showall {
  color: #438cca;
}

/* line 9, ../sass/component.modal.auth.scss */
#authModal .close {
  position: absolute;
  display: block;
  right: 15px;
  top: 12px;
  line-height: 10px;
  cursor: pointer;
}
/* line 18, ../sass/component.modal.auth.scss */
#authModal .icons-no {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
}
/* line 24, ../sass/component.modal.auth.scss */
#authModal .modal-dialog {
  display: block;
}
/* line 28, ../sass/component.modal.auth.scss */
#authModal .modal-content {
  width: 510px;
  height: 480px;
  background: #ffffff;
}
/* line 34, ../sass/component.modal.auth.scss */
#authModal .modal-container {
  width: 232px;
  margin: 40px auto;
}
/* line 38, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-logo {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 70px;
}
/* line 46, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-sub-header {
  border-top: 1px solid #efefef;
  margin-top: 12px;
  text-align: center;
  font-size: 12px;
  color: #a7a7a7;
}
/* line 54, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-input {
  overflow: hidden;
  *zoom: 1;
  margin: 5px 0;
}
/* line 59, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-input-checkbox {
  font-size: 12px;
  line-height: 22px;
  height: 22px;
  color: #a7a7a7;
  text-align: center;
  text-decoration: underline;
}
/* line 68, ../sass/component.modal.auth.scss */
#authModal .modal-container .first-name {
  float: left;
  width: 74px;
}
/* line 73, ../sass/component.modal.auth.scss */
#authModal .modal-container .last-name {
  float: left;
  width: 122px;
  margin-left: 8px;
}
/* line 79, ../sass/component.modal.auth.scss */
#authModal .modal-container .email, #authModal .modal-container .password {
  overflow: hidden;
  *zoom: 1;
  width: 218px;
}
/* line 84, ../sass/component.modal.auth.scss */
#authModal .modal-container .btn-sign-up, #authModal .modal-container .btn-sign-in {
  margin-top: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  background: #ff9700;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkODQwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(to bottom, #ff9700, #dd8401);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/* line 98, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-up {
  margin-top: 5px;
  text-align: center;
}
/* line 102, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-up a {
  text-decoration: underline;
  color: #ff9900;
  cursor: pointer;
}
/* line 109, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-in {
  margin-top: 5px;
  text-align: left;
}
/* line 113, ../sass/component.modal.auth.scss */
#authModal .modal-container .modal-link-sign-in a {
  text-decoration: underline;
  color: #ff9900;
  cursor: pointer;
}
/* line 120, ../sass/component.modal.auth.scss */
#authModal .modal-container .sign-with-oth {
  overflow: hidden;
  *zoom: 1;
}
/* line 123, ../sass/component.modal.auth.scss */
#authModal .modal-container .sign-with-oth .sign-in-weibo, #authModal .modal-container .sign-with-oth .sign-in-qq, #authModal .modal-container .sign-with-oth .sign-in-renren {
  width: 66px;
  height: 66px;
  display: block;
  float: left;
  margin: 5px;
  cursor: pointer;
}
/* line 143, ../sass/component.modal.auth.scss */
#authModal input {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  padding: 7px 6px;
  line-height: 14px;
  font-size: 14px;
  outline: none;
}

/* line 155, ../sass/component.modal.auth.scss */
#activateModal .close {
  position: absolute;
  display: block;
  right: 15px;
  top: 12px;
  line-height: 10px;
  cursor: pointer;
}
/* line 164, ../sass/component.modal.auth.scss */
#activateModal .icons-no {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
}
/* line 170, ../sass/component.modal.auth.scss */
#activateModal .modal-dialog {
  display: block;
}
/* line 174, ../sass/component.modal.auth.scss */
#activateModal .modal-content {
  width: 510px;
  height: 362px;
  background: #ffffff;
  padding-top: 42px;
}
/* line 181, ../sass/component.modal.auth.scss */
#activateModal .modal-container {
  margin: 0 auto;
  width: 232px;
}
/* line 185, ../sass/component.modal.auth.scss */
#activateModal .modal-container .modal-logo {
  display: block;
  margin: 0 auto;
  width: 169px;
  height: 70px;
}
/* line 193, ../sass/component.modal.auth.scss */
#activateModal .modal-container .btn-modal-activate {
  margin-top: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  background: #ff9700;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkODQwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(to bottom, #ff9700, #dd8401);
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/* line 207, ../sass/component.modal.auth.scss */
#activateModal .modal-container .btn-modal-deactivate {
  margin-top: 8px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
  background: #e0e0e0;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
/* line 221, ../sass/component.modal.auth.scss */
#activateModal .modal-container-desc {
  margin: 35px auto;
  width: 380px;
  font-size: 14px;
  line-height: 22px;
  color: #757575;
}
/* line 228, ../sass/component.modal.auth.scss */
#activateModal .modal-container-desc a {
  text-decoration: underline;
  color: #ff9900;
  cursor: pointer;
}

/* line 7, ../sass/component.popover.profile.scss */
.popover {
  position: absolute;
  top: 694px;
  left: 122px;
  z-index: 1060;
  padding: 12px;
}
/* line 14, ../sass/component.popover.profile.scss */
.popover .popover-content {
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #ffffff;
  overflow: hidden;
}
/* line 23, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card {
  width: 380px;
}
/* line 26, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 18px;
  padding-left: 15px;
  padding-bottom: 9px;
}
/* line 33, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-logo {
  display: block;
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
/* line 42, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-desc-container {
  float: left;
}
/* line 45, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-desc-container .user-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}
/* line 51, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-desc-container .user-company {
  line-height: 14px;
  font-size: 12px;
  font-weight: bold;
}
/* line 57, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-desc-container .user-position {
  line-height: 14px;
  font-size: 12px;
}
/* line 62, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-desc-container .user-subjects {
  margin-top: 2px;
  width: 240px;
  line-height: 20px;
}
/* line 67, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-desc-container .user-subjects .component-subject {
  float: none;
  display: inline-block;
}
/* line 73, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .upper .user-desc-container .icons-vip {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 16px;
  height: 13px;
  line-height: 16px;
  margin-left: 3px;
  margin-bottom: 2px;
}
/* line 84, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower {
  overflow: hidden;
  *zoom: 1;
}
/* line 87, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-left {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 14px;
  font-size: 13px;
  float: left;
}
/* line 94, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-left .lower-accp {
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 6px;
}
/* line 100, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-left .lower-corn {
  float: left;
  padding-left: 6px;
}
/* line 105, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-left em {
  font-weight: bold;
}
/* line 110, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-right {
  margin-top: 6px;
  margin-right: 14px;
  float: right;
}
/* line 115, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-right .btn-ask {
  float: left;
  margin-right: 10px;
  text-align: center;
  color: #ffffff;
  width: 54px;
  height: 22px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ff9700;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTcwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RkODQwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff9700), color-stop(100%, #dd8401));
  background-image: -moz-linear-gradient(top, #ff9700, #dd8401);
  background-image: -webkit-linear-gradient(top, #ff9700, #dd8401);
  background-image: linear-gradient(to bottom, #ff9700, #dd8401);
  cursor: pointer;
}
/* line 128, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-right .btn-corn {
  float: left;
  cursor: pointer;
  line-height: 22px;
}
/* line 133, ../sass/component.popover.profile.scss */
.popover .popover-content .profile-card .lower .lower-right .btn-corn .icons-add {
  width: 12px;
  height: 12px;
  float: left;
  margin-top: 4px;
  margin-right: 3px;
}
/* line 146, ../sass/component.popover.profile.scss */
.popover .arrow, .popover .arrow2 {
  position: absolute;
  width: 0;
  height: 0;
  left: 60px;
  margin-left: -13px;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
/* line 156, ../sass/component.popover.profile.scss */
.popover .arrow {
  top: 0;
  border-bottom: 13px solid rgba(0, 0, 0, 0.2);
}
/* line 161, ../sass/component.popover.profile.scss */
.popover .arrow2 {
  top: 1px;
  border-bottom: 13px solid #fff;
}
