<h1>Search Result:</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
    <% @draft_articles.each do |da| %>
      <tr>
        <td><%= da.title %></td>
        <td><%= da.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>
