<div class="user-setting warp-content">
    <ul class="component-tab_navs">
        <li class="component-tab_nav">
          <a href="/settings/account">帐号</a>
        </li>
        <li class="component-tab_nav active">
          <a href="/settings/password">密码</a>
        </li>
        <li class="component-tab_nav">
          <a href="/settings/notification">消息</a>
        </li>
        <li class="component-tab_nav">
          <a href="/settings/bind">社区绑定</a>
        </li>
    </ul>
    <div class="settings-intro">修改你的登录密码。</div>
    <div class="settings-section">
        <div class="settings-item clearfix">
          <label for="op" class="settings-item-title with-input">当前密码</label>
          <div class="settings-item-content">
            <input type="password" autocomplete="off" class="component-input" name="op" id="op" placeholder="当前密码" required="">
          </div>
        </div>

        <div class="settings-item clearfix">
          <label for="np" class="settings-item-title with-input">新的密码</label>
          <div class="settings-item-content">
            <input data-rule-strongpassword="true" type="password" autocomplete="off" class="component-input" name="np" id="np" placeholder="新的密码" required="">
          </div>
        </div>

        <div class="settings-item clearfix">
          <label for="rp" class="settings-item-title with-input">确认密码</label>
          <div class="settings-item-content">
            <input type="password" autocomplete="off" class="component-input" name="rp" id="rp" placeholder="确认密码" required="">
          </div>
        </div>
    </div>
    <div class="settings-save">
      <button type="submit" class="btn-save">保存</button>
    </div>
</div>