<div class="user-setting warp-content">
  <ul class="component-tab_navs">
    <li class="component-tab_nav active">
      <a href="/settings/profile">档案</a>
    </li>
    <li class="component-tab_nav">
      <a href="/settings/password">密码</a>
    </li>
    <li class="component-tab_nav">
      <a href="/settings/notification">消息</a>
    </li>
    <li class="component-tab_nav">
      <a href="/settings/bind">社区绑定</a>
    </li>
  </ul>
  <div class="settings-intro">修改你的个人档案。</div>
</div>