<div class="user-setting warp-content">
    <ul class="component-tab_navs">
        <li class="component-tab_nav">
          <a href="/settings/profile">档案</a>
        </li>
        <li class="component-tab_nav active">
          <a href="/settings/password">密码</a>
        </li>
        <li class="component-tab_nav">
          <a href="/settings/notification">消息</a>
        </li>
        <li class="component-tab_nav">
          <a href="/settings/bind">社区绑定</a>
        </li>
    </ul>
    <div class="settings-intro">修改你的登录密码。</div>
    <!-- data-remote data-type 由jquery-ujs作ajax form submit的准备 -->
    <form action="/settings/password" method="POST" id="password-setting-form"
          autocomplete="off" novalidate="novalidate" data-remote="true" data-type="json">
        <div class="settings-section">
            <div class="settings-item clearfix">
              <label for="op" class="settings-item-title with-input">当前密码</label>
              <div class="settings-item-content">
                <input type="password" autocomplete="off" class="component-input" name="current_password" id="current_password" placeholder="当前密码" required="">
              </div>
            </div>

            <div class="settings-item clearfix">
              <label for="np" class="settings-item-title with-input">新的密码</label>
              <div class="settings-item-content">
                <input data-rule-strongpassword="true" type="password" autocomplete="off" class="component-input" name="password" id="password" placeholder="新的密码" required="">
              </div>
            </div>

            <div class="settings-item clearfix">
              <label for="rp" class="settings-item-title with-input">确认密码</label>
              <div class="settings-item-content">
                <input type="password" autocomplete="off" class="component-input" name="password_confirmation" id="password_confirmation" placeholder="确认密码" required="">
              </div>
            </div>
        </div>
        <div class="settings-save">
          <button type="submit" class="btn-save">保存</button>
        </div>
    </form>
</div>
<% content_for :page_javascript do %>
    <%= javascript_include_tag "settings.password" %>
<% end %>