<!--（问答）提问模态框-->
<div class="modal" id="askQuestionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/questions" method="POST" autocomplete="off" novalidate="novalidate">
          <input type="hidden" name="_method" value="POST">
          <div class="modal-header">
            <div class="modal-title">提问</div>
            <a class="close" data-dismiss="modal">
              <i class="icons-no"></i>
            </a>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" role="alert" style="display:none">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
              <span class="alert-message"></span>
            </div>
            <div class="alert alert-success" role="alert" style="display:none">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span>
                <span class="sr-only">Close</span>
              </button>
              <span class="alert-message"></span>
            </div>
            <div class="section-item">
              <h4>问题标题：</h4>
              <input name="question[title]" class="component-input" type="text"/>
            </div>
            <div class="section-item">
              <h4>问题说明（可选）：</h4>
              <textarea name="question[content]"></textarea>
            </div>
            <div class="section-item">
              <h4>选择或搜索主题：<span class="themes-tip">手动搜索精确主题，可以让更多资深职场人士看到并回答</span></h4>
              <input name="question[themes]" class="" type="text" />
              <div class="hot-themes-wrapper">
                    <span class="hot-themes-title">热门主题：</span>
                  <%Settings['hot_themes'].each do |id, value| %>
                      <div class="component-subject" data-id="<%= id %>" data-value="<%= value %>"><%= value %></div>
                  <%end%>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">发布</button>
          </div>
      </form>
    </div>
  </div>
</div>