<!--用户验证模态框-->
<div class="modal" id="authModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <a class="close" data-dismiss="modal">
        <i class="icons-no"></i>
      </a>

      <!--注册区域-->
      <div role="sign-up" class="modal-container" style="display: none;">
        <div class="modal-logo"></div>
        <div class="modal-sub-header">普通账号注册</div>
        <div class="modal-input" id="sign-up-name">
          <input type="text" class="last-name" name="input-sign-up-last-name" placeholder="姓"/>
          <input type="text" class="first-name" name="input-sign-up-first-name" placeholder="名"/>
        </div>
        <div class="modal-input" id="sign-up-email">
          <input type="text" class="email" name="input-sign-up-email" placeholder="邮箱"/>
        </div>
        <div class="modal-input" id="sign-up-password">
          <input type="password" class="password" name="input-sign-up-password" placeholder="密码"/>
        </div>
        <div class="modal-input modal-input-checkbox" id="sign-up-protocol">
          <input type="checkbox" name="input-sign-up-service" id="agree-service">
          <label for="agree-service" class="agree-service">同意服务协议</label>
        </div>
        <div class="btn-sign-up">注册</div>
        <div class="modal-link-sign-up">已有账号？<a id="btn-switch-sign-in">点击登录</a></div>
        <div class="modal-sub-header">其它账号注册</div>
        <div class="sign-with-oth">
          <div class="sign-in-weibo"></div>
          <div class="sign-in-qq"></div>
          <div class="sign-in-renren"></div>
        </div>
      </div>

      <!--登录区域-->
      <div role="sign-in" class="modal-container">
        <div class="modal-logo"></div>
        <div class="modal-sub-header">使用邮箱登录</div>
        <div class="modal-input" id="sign-in-email">
          <input type="text" class="email" name="input-sign-in-email" placeholder="职人圈注册邮箱"/>
        </div>
        <div class="modal-input" id="sign-in-password">
          <input type="password" class="password" name="input-sign-in-password" placeholder="密码"/>
        </div>
        <div class="modal-input modal-input-checkbox">
          <input type="checkbox" name="input-sign-in-remember-me" id="remember-me" checked="checked">
          <label for="remember-me">记住我</label>
        </div>
        <div class="btn-sign-in">登录</div>
        <div class="modal-link-sign-in"><a id="btn-forget-password">忘记密码？</a>
          <span class="pull-right">没有账号？<a id="btn-switch-sign-up">点击注册</a></span></div>
        <div class="modal-sub-header">其它账号登录</div>
        <div class="sign-with-oth">
          <div class="sign-in-weibo"></div>
          <div class="sign-in-qq"></div>
          <div class="sign-in-renren"></div>
        </div>
      </div>
    </div>
  </div>
</div>