<!--（问答）提问模态框-->
<div class="modal" id="askQuestionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">提问</div>
        <a class="close" data-dismiss="modal">
          <i class="icons-no"></i>
        </a>
      </div>
      <div class="modal-body">
        <div class="section-item">
          <h4>问题题目：</h4>
          <input name="question" class="component-input" type="text"/>
        </div>
        <div class="section-item">
          <h4>问题描述（可选）：</h4>
          <textarea name="description"></textarea>
        </div>
        <div class="section-item">
          <h4>问题主题：</h4>
          <input name="themes" class="" type="text" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">提问</button>
      </div>
    </div>
  </div>
</div>