<!--头像修改对话框-->
<div class="modal" id="resizeAvatarModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">头像设置</div>
          <a class="close" data-dismiss="modal">
            <i class="icons-no"></i>
          </a>
        </div>
        <div class="modal-body">
          <div class="image-container">
            <img id="jcrop_target" src=""/>
            <form target="av_up_frame" method="post" enctype="multipart/form-data"
                  action="http://localhost:3000/upload/upload_avatar" style="display: none">
              <label for="avt_file"></label>
              <input type="file" accept="image/*" name="picture" id="avt_file">
              <input type="hidden" name="handle_mode" value="cache">
              <!--<input type="hidden" name="handle_mode" value="resize">-->
              <!--<input type="hidden" name="dest_id" value="668baec661da36f56ad735997c001dd8">-->
            </form>
          </div>
          <div class="preview-container">
            <img src="" id="jcrop_preview">
          </div>
          <canvas id="crop_canvas" width="100" height="100" style="display: none"></canvas>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">保存</button>
        </div>
    </div>
  </div>
</div>