<!--（问答）提问模态框-->
<div class="modal" id="askQuestionModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">提问</div>
        <a class="close" data-dismiss="modal">
          <i class="icons-no"></i>
        </a>
      </div>
      <div class="modal-body">
        <div class="">问题题目：</div>
        <div class="">问题描述（可选）：</div>
        <div class="">问题主题：</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">提问</button>
      </div>
    </div>
  </div>
</div>