<!--头像修改对话框-->
<div class="modal" id="resizeAvatarModal">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">头像设置</div>
          <a class="close" data-dismiss="modal">
            <i class="icons-no"></i>
          </a>
        </div>
        <div class="modal-body">
          <img id="jcrop_target" src="../images/big-icons/qq.png"/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">保存</button>
        </div>
    </div>
  </div>
</div>