.popTips {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: $zindex-poptips;
  @include transition(top 0.5s ease);

  .popTipsContent {
    width: 200px;
    height: 24px;
    margin: 0 auto;
    padding: 3px 8px;
    background: $base-color;
    background-color: $base-color;
    @include background-image(linear-gradient(top,#FFD872,$base-color));
    background-repeat: repeat-x;
    @include border-bottom-radius($border-radius-base);
    color: #ffffff;
    font-weight: bold;
  }
}