//登陆注册模态框
#authModal {
  .close {
    position: absolute;
    display: block;
    right: 15px;
    top: 12px;
    line-height: 10px;
    cursor: pointer;
  }

  .icons-no {
    @include inline-block;
    width: 10px;
    height: 10px;
  }

  .modal-dialog {
    display: block;
  }

  .modal-content {
    width: 510px;
    height: 480px;
    background: #ffffff;
  }

  .modal-container {
    width: 232px;
    margin: 40px auto;

    .modal-logo {
      @extend .big-icons-zrquan;
      display: block;
      margin: 0 auto;
      width: 169px;
      height: 70px;
    }

    .modal-sub-header {
      border-top: 1px solid #aaa;
      margin-top: 12px;
      text-align: center;
      font-size: 12px;
      color: #aaa;
    }

    .modal-input {
      position: relative;
      margin: 5px 0;
      @extend .clearfix;
    }

    .modal-input-tips {
      position: absolute;
      top: 5px;
      left: 240px;
      overflow: hidden;
      white-space: nowrap;
      color: rgb(255, 126, 0);
    }

    .modal-input-checkbox {
      font-size: 12px;
      line-height: 22px;
      height: 22px;
      color: #333;

      .agree-service {
        color: #aaa;
        text-decoration: underline;
      }
    }

    .first-name {
      float: left;
      width: 122px;
      margin-left: 8px;
    }

    .last-name {
      float: left;
      width: 74px;
    }

    .email, .password {
      @include clearfix;
      width: 218px;
    }

    .btn-sign-up, .btn-sign-in {
      margin-top: 8px;
      @include border-radius($border-radius-base);
      width: 100%;
      height: 28px;
      line-height: 28px;
      font-size: 13px;
      background: $base-color;
      @include background-image(linear-gradient(top,$base-color,$deep-base-color));
      color: #ffffff;
      text-align: center;
      cursor: pointer;
    }

    .modal-link-sign-up {
      margin-top: 5px;
      text-align: center;

      a {
        text-decoration: underline;
        color: #ff9900;
        cursor: pointer;
      }
    }

    .modal-link-sign-in {
      margin-top: 5px;
      text-align: left;

      a {
        text-decoration: underline;
        color: #ff9900;
        cursor: pointer;
      }
    }

    .sign-with-oth {
      @include clearfix;

      .sign-in-weibo, .sign-in-qq, .sign-in-renren{
        width: 66px;
        height: 66px;
        display: block;
        float: left;
        margin: 5px;
        cursor: pointer;
      }
      .sign-in-weibo {
        @extend .big-icons-weibo;
      }
      .sign-in-qq {
        @extend .big-icons-qq;
      }
      .sign-in-renren {
        @extend .big-icons-renren;
      }
    }
  }

  input[type=text], input[type=password] {
    @include border-radius($border-radius-base);
    border: 1px solid #aaa;
    padding: 7px 6px;
    outline: none;
    line-height: 16px;
    height: 16px;
    margin-bottom: 3px;
  }
}

//激活成功提示模态框
#activateModal, #forgetPasswordModal {
  .close {
    position: absolute;
    display: block;
    right: 15px;
    top: 12px;
    line-height: 10px;
    cursor: pointer;
  }

  .icons-no {
    @include inline-block;
    width: 10px;
    height: 10px;
  }

  .modal-dialog {
    display: block;
  }

  .modal-content {
    width: 510px;
    background: #ffffff;
    padding-top: 42px;
  }

  .modal-container {
    margin: 0 auto;
    width: 232px;

    .modal-logo {
      @extend .big-icons-zrquan;
      display: block;
      margin: 0 auto;
      width: 169px;
      height: 70px;
    }

    .modal-text-title {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      color: #787878;
      text-shadow: 0 1px 1px rgba(0,0,0,.15);
      text-decoration: none;
      text-align: center;

      .title {
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        margin-bottom: 4px;
        margin-top: 12px;
      }

      .sub-title {
        font-size: 14px;
        font-weight: 400;
      }
    }

    input {
      display: block;
      @include border-radius($border-radius-base);
      border: 1px solid #aaa;
      padding: 7px 6px;
      line-height: 14px;
      font-size: 14px;
      outline: none;
      width: 218px;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    .btn-modal-activate,
    .btn-modal-reset-password{
      display: block;
      margin-top: 8px;
      @include border-radius($border-radius-base);
      width: 100%;
      height: 28px;
      line-height: 28px;
      background: $base-color;
      @include background-image(linear-gradient(top,$base-color,$deep-base-color));
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }

    .btn-modal-deactivate {
      display: block;
      margin-top: 8px;
      @include border-radius($border-radius-base);
      width: 100%;
      height: 28px;
      line-height: 28px;
      background: #e0e0e0;
      color: #ffffff;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
  }

  .modal-container-desc {
    margin: 35px auto;
    width: 380px;
    font-size: 14px;
    line-height: 22px;
    color: #757575;

    a {
      text-decoration: underline;
      color: #ff9900;
      cursor: pointer;
    }
  }

  #reset-password-email {
    position: relative;

    .modal-input-tips {
      position: absolute;
      top: 5px;
      left: 240px;
      overflow: hidden;
      white-space: nowrap;
      color: rgb(255, 126, 0);
    }
  }

}
