@import "base";
@import "variables";

div[role=infoblocks] {
  clear: both;

  .component-infoblock {
    clear: both;
    overflow: hidden;    //解决子元素浮动时父元素没有被自动撑开的问题
    padding-top: 15px;

    .component-infoblock-title {
      display: block;
      font-size: 15px;
      font-weight: bold;
      height: 15px;
      line-height: 15px;
      color: #EE8E00;
      margin-bottom: 8px;
    }

    .component-infoblock-left {
      float:left;
      width: 32px;

      .component-infoblock-avatar {
        @include border-radius($border-radius-base);
        width: 32px;
        height: 32px;
        display: block;
        cursor: pointer;
      }

      .component-infoblock-good {
        margin-top: 6px;

        .component-infoblock-good-num {
          @include border-top-left-radius($border-radius-base);
          @include border-top-right-radius($border-radius-base);
          background-color: #ffe3bb;
          color: #edc17f;
          height: 18px;
          text-align: center;
          font-size: 12px;
          font-weight: bold;
        }

        .component-infoblock-good-action {
          @include border-bottom-left-radius($border-radius-base);
          @include border-bottom-right-radius($border-radius-base);
          margin-top: 1px;
          background-color: #ffe3bb;
          color: #edc17f;
          height: 18px;
          line-height: 16px;
          text-align: center;
          cursor: pointer;
        }

        .icons-good {
          @include inline-block;
          width: 10px;
          height: 11px;
        }
      }
    }

    .component-infoblock-right {
      float:left;
      margin-left: 11px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eeeeee;
      width: 675px;


      .component-infoblock-header {
        font-size: 12px;
        line-height: 12px;

        .icons-vip {
          @include inline-block;
          margin-top: -4px;
          width: 16px;
          height: 13px;
        }

        .component-infoblock-username {
          cursor: pointer;
          font-size: 14px;
          line-height: 14px;
          font-weight: bold;
          color: $dark;
        }

        .component-infoblock-action {
          margin-left: 4px;
          line-height: 14px;
          font-weight: normal;
          color: $light-dark
        }

        .component-infoblock-time {
          line-height: 14px;
          font-weight: normal;
          color:$light-dark;
          float: right;
          margin-right: 10px;
        }
      }

      .component-infoblock-title {
        display: block;
        margin-top: 6px;
        font-size: 14px;
        font-weight: bold;
        height: 14px;
        line-height: 14px;
        color: #EE8E00;
      }

      .component-infoblock-content {
        margin-top: 6px;
        font-size: 14px;
        line-height: $base-content-line-height;
        color: $deep-dark;
        font-family: $base-article-family;

        a {
          color: #259;
          &:hover {
            text-decoration: underline;
          }
        }

        blockquote {
          margin: .8em 0;
        }
        address, blockquote, sup {
          border-left: 3px solid #D0E5F2;
          font-style: normal;
          padding: 0 0 0 10px;
          display: block;
          line-height: 24px;
          vertical-align: baseline;
          font-size: 100%;
        }

        a.show-all-button, a.hide-all-button {
          white-space: nowrap;
          color: #438cca;
          font-size: 13px;

          &:hover {
            background: #daf3ff;
            text-decoration: none;
          }
        }

        a.edit-button {
          color: #999;
          display: inline-block;
          font-size: 11px;
          -webkit-text-size-adjust: none;
          font-weight: 400;
          padding: 0 5px 0 2px;
          margin: 0 0 0 2px;

          &:hover {
            text-decoration: none;
            background: #faf4eb;
            border-radius: 3px;
            color: #bf8d69;
          }

          .edit-button-icon {
            background-position: -118px -50px;
            height: 12px;
            margin-right: 4px;
            outline: medium none;
            overflow: hidden;
            width: 12px;
            vertical-align: -3px;
            background-image: url(../images/sprites-zh.png);
            background-repeat: no-repeat;
            display: inline-block;
          }
        }
      }

      .component-infoblock-editor-wrapper {
        display: none;
        margin-top: 15px;

        form {
          display: none;
        }
      }

      .component-infoblock-footer {
        margin-top: 5px;
        line-height: $base-content-line-height;

        .component-infoblock-opts-comment {
          @include inline-block;
          color: $light-dark;
          margin-right: 8px;
          cursor: pointer;

          .icons-comment {
            @include inline-block;
            width: 12px;
            height: 12px;
            margin-right: 4px;
            margin-top: -2px;
          }

          &.component-infoblock-opts-comment-hide {
            display: none;
          }
        }

        .component-infoblock-opts-favorites {
          @include inline-block;
          color: $light-dark;
          margin-right: 12px;
          cursor: pointer;

          .icons-favorites {
            @include inline-block;
            width: 12px;
            height: 11px;
            margin-right: 4px;
            margin-top: -2px;
          }
        }

        .component-infoblock-subjects {
          @include inline-block;
        }
      }

      .component-infoblock-comment {
        margin: 8px 0 25px;
        background: #fff;
        position: relative;
        border: 1px solid #ddd;
        @include border-radius($border-radius-base);
        @include box-shadow(0 1px 1px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15));

        &.empty {
          border: 0!important;
          @include box-shadow(none);
          margin-right: 50px;

          .component-infoblock-icon-spike {
            display: none!important;
          }

          .component-infoblock-comment-footer {
            border:0!important;
            background: none!important;
          }
        }

        .component-infoblock-icon-spike {
          display: block;
          position: absolute;
          top: -8px;
          left: 34px;
          width: 13px;
          height: 8px;
          background-position: -200px -165px;
          background-image: url(../images/sprites-zh.png);
          background-repeat: no-repeat;
          vertical-align: middle;
        }

        .component-infoblock-comment-list {
          .component-infoblock-item-comment {
            position: relative;
            margin: 0 12px;
            padding: 8px 0;

            .component-infoblock-item-comment-left {
              float: left;
              width: 25px;
              height: 100%;
              margin-top: 3px;

              img {
                @include border-radius($border-radius-small);
                width: 25px;
                height: 25px;
              }
            }

            .component-infoblock-item-comment-right {
              margin: 0 0 0 35px;
              line-height: $base-content-line-height;
              font-size: 13px;

              .component-infoblock-item-comment-header {
                a {
                  font-weight: bold;
                  color: $base-color;
                  text-decoration: none;
                  cursor: pointer;
                }
                a:hover {
                  text-decoration: underline;
                }

                span {
                  color: #999;
                }

                .component-infoblock-item-comment-date {
                  float: right;
                  color: #999;
                }
              }

              .component-infoblock-item-comment-content {
                color: #222;
                min-height: $base-content-line-height;
              }

              .component-infoblock-item-comment-footer {
                min-height: 24px;

                .comment-op-link  {
                  margin-right: 12px;
                  color: #999;
                  font-size: 12px;
                  cursor: pointer;
                }

                .icon-comment-agree, .icon-comment-reply, .icon-comment-delete {
                  margin-right: 5px;
                  width: 11px;
                  height: 11px;
                  vertical-align: -1px;
                  background-image: url(../images/sprites-zh.png);
                  background-repeat: no-repeat;
                  display: inline-block;
                }

                .icon-comment-agree {
                  background-position: -222px -92px;
                }

                .icon-comment-reply {
                  background-position: -250px -92px;
                }

                .icon-comment-delete {
                  background-position: -236px -92px;
                }

                .like-num {
                  color: #999;
                  font-size: 12px;
                  float: right;
                }
              }

              .component-infoblock-item-comment-form {
                padding: 15px 0;

                .comment-editable {
                  padding: 7px 8px;
                  font-size: 13px;
                  line-height: $base-content-line-height;
                  min-height: $base-content-line-height;
                  white-space: pre-wrap;
                  color: #222;
                  cursor: text;
                  border: 1px solid #ddd;
                  border-radius: 3px;
                  box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
                  background-color: #fff;
                  outline: 0;
                  overflow: hidden;
                }
              }
            }
          }

          .component-infoblock-item-comment+.component-infoblock-item-comment {
            border-top: solid 1px #eee;
          }
        }

        .component-infoblock-comment-footer {
          background: #fbfbfb;
          border-radius: 0 0 4px 4px;
          border-top: 1px solid #EEE;
          position: relative;
          padding: 15px;

          .component-infoblock-comment-editable {
            padding: 7px 8px;
            font-size: 13px;
            line-height: $base-content-line-height;
            min-height: $base-content-line-height;
            color: #222;
            cursor: text;
            border: 1px solid #ddd;
            border-radius: 3px;
            box-shadow: 0 1px 3px rgba(0,0,0,.1) inset;
            background-color: #fff;
            outline: 0;
          }
        }

        .comment-editable-opts {
          padding-top: 10px;
          overflow: hidden;

          .comment-editable-opts-submit {
            float: right;
            @include btn-base($border-radius-base);
            font-size: 14px;
            padding: 6px 8px;
          }

          a.comment-editable-opts-cancel {
            float: right;
            line-height: 36px;
            margin-right: 18px;
            color: $deep-base-color;
            cursor: pointer;
          }

          a.comment-editable-opts-cancel:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

a[data-role=load-more],
div[data-role=load-more] {
  @include btn-light-gray-base($border-radius-base);
  display: block;
  font-size: 13px;
  margin: 20px 0;
  padding: 5px 1px;
  color: #666!important;
  width: 717px;

  .spinner-gray, .spinner-lightgray {
    display: inline-block;
    margin: 0 5px;
    width: 14px;
    height: 15px;
    vertical-align: -3px;
    background-size: 14px 15px;
    background-repeat: no-repeat;
    background-image: url(../images/standalone/grey-loading.gif);
  }
}
