@import "compass/css3";

@import "base";
@import "minixs";
@import "variables";

.popover {
  position: absolute;
  top: 702px;
  left: 125px;
  z-index: $zindex-popover;
  padding: 12px;

  .popover-content {
    border: 1px solid $popover-content-fallback-border-color; //old browsers fallback (ie8 etc)
    border: 1px solid $popover-content-border-color;
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    @include border-radius($border-radius-base);
    @include background-clip(padding-box);
    background: #ffffff;
    overflow: hidden;

    .profile-card {
      width: 380px;

      .upper {
        @include clearfix;
        border-bottom: 1px solid $popover-content-border-color;
        padding-top: 18px;
        padding-left: 15px;
        padding-bottom: 9px;

        .user-logo {
          display: block;
          float: left;
          width: 64px;
          height: 64px;
          margin-right: 10px;
        }

        .user-desc-container {
          float: left;

          .user-name {
            font-size: 14px;
            font-weight: bold;
            line-height: 16px;
          }

          .user-company {
            line-height: 14px;
            font-size: 12px;
            font-weight: bold;
          }

          .user-position {
            line-height: 14px;
            font-size: 12px;
          }

          .user-subjects {
            margin-top: 2px;
            width: 240px;
            line-height: 20px;

            .component-subject {
              float: none;
              display: inline-block;
            }
          }

          .icons-vip {
            @include inline-block;
            width: 16px;
            height: 13px;
            line-height: 16px;
            margin-left: 3px;
            margin-bottom: 2px;
          }
        }
      }

      .lower {
        @include clearfix;

        .lower-left {
          margin-top: 6px;
          margin-bottom: 6px;
          margin-left: 14px;
          font-size: 13px;
          line-height: 22px;

          float: left;
          .lower-accp {
            float: left;
            padding-right: 6px;
          }

          .lower-split {
            float: left;
            width: 1px;
            background: $popover-content-border-color;
            height: 22px;
          }

          .lower-corn {
            float: left;
            padding-left: 6px;
          }

          em {
            font-weight: bold;
          }
        }

        .lower-right {
          margin-top: 5px;
          margin-right: 14px;
          float: right;

          .btn-ask {
            @include btn-base($border-radius-small);
            float: left;
            margin-right: 10px;
            width: 54px;
            height: 22px;
          }

          .btn-corn {
            float: left;
            cursor: pointer;
            line-height: 24px;

            .icons-add {
              width: 12px;
              height: 12px;
              float: left;
              margin-top: 5px;
              margin-right: 3px;
            }
          }
        }
      }
    }

    .profile-card-loading {
      width: 88px;
      height: 40px;
      background-image: url(../images/standalone/spinner2.gif);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .arrow, .arrow2 {
    position: absolute;
    width: 0;
    height: 0;
    left: 60px;
    margin-left: -13px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }

  .arrow {
    top: 0;
    border-bottom: 13px solid $popover-content-border-color;
  }

  .arrow2 {
    top: 1px;
    border-bottom: 13px solid #fff;
  }
}