@import "compass/css3";
@import "compass/utilities";

.component-subject {
  float: left;
  @include border-radius(4px);
  color: #ffffff;
  background: #FFBD4D;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 3px;
  margin-right: 3px;
}