#sysModal {
  .modal-content {
    width: 422px;
  }

  .modal-body {
    height: 60px;
    line-height: 23px;
    font-size: 14px;

    .icons-info {
      display: block;
      float: left;
      margin: 3px 5px 0 2px;
      width: 16px;
      height: 16px;
      background: url('../images/sprites-zh.png') -284px -131px;
    }
  }
}