#resizeAvatarModal {
  .modal-content {
    width: 510px;

    .modal-body {
      overflow: hidden;
    }

    .image-container {
      width: 300px;
      min-height: 100px;
      float: left;
      position: relative;
    }

    .preview-container {
      float:left;
      width:100px;
      height:100px;
      overflow:hidden;
      margin-left:15px;
    }

    #jcrop_target {
      max-width: 100%;
    }

    #jcrop_preview {

    }
  }
}
