#askQuestionModal, #createThemeModal {
  .modal-content {
    width: 530px;
  }

  .modal-body {
    padding: 10px 15px;
    padding-bottom: 20px;

    .section-item {
      padding: 8px 0;
    }

    .component-input,.component-textarea {
      width: 477px;
    }

    h4 {
      margin-bottom: 5px;
      font-size: 13px;
      line-height: 23px;
    }

    .themes-tip {
      float: right;
      font-size: 12px;
      color: #666;
    }

    .hot-themes-wrapper {
      margin-top: 8px;
      margin-bottom: 25px;

      .hot-themes-title {
        float: left;
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
        margin-right: 3px;
      }

      .component-subject {
        font-size: 13px;
        line-height: 13px;
        padding: 3px 4px;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }
}