@import "compass/css3";

@import "base";
@import "minixs";
@import "variables";

@mixin btn-abstract($border-radius) {
  //  @include transition(all .2s ease-in-out);
  @include border-radius($border-radius);
  @include box-shadow(0 1px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(255,255,255,.15));
  @include text-shadow(0 1px 1px rgba(0,0,0,.12));

  text-align: center;
  color: #FFF;
  cursor: pointer;
  outline: 0;
}

@mixin btn-base($border-radius) {
  @include btn-abstract($border-radius);
  background: $base-color;
  background-color: $base-color;
  @include background-image(linear-gradient(top,$base-color,$deep-base-color));
  background-repeat: repeat-x;
  border: 1px solid $deep-base-color;
}

@mixin btn-green-base($border-radius) {
  @include btn-abstract($border-radius);
  background: #3ea004;
  background-color: #3ea004;
  @include background-image(linear-gradient(top,#3ea004, #368c04));
  background-repeat: repeat-x;
  border: 1px solid #368c04;
}

@mixin btn-gray-base($border-radius) {
  @include btn-abstract($border-radius);
  background: #e0e0e0;
  background-color: #e0e0e0;
  @include background-image(linear-gradient(top,#e0e0e0, #ccc));
  background-repeat: repeat-x;
  border: 1px solid #ccc;
}