@import "minixs";
@import "variables";

//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  -webkit-overflow-scrolling: touch;

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
//    @include translate3d(0, -25%, 0);
//    @include transition-transform(0.3s ease-out);
  }
  &.in .modal-dialog {
//    @include translate3d(0, 0, 0);
  }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  z-index: $zindex-modal;
}

// Actual modal
.modal-content {
  position: relative;
  background-color: $modal-content-bg;
  border: 1px solid $modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
  border: 1px solid $modal-content-border-color;
  @include border-radius($border-radius-base);
  @include box-shadow(0 3px 9px rgba(0,0,0,.5));
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-background;
  background-color: $modal-backdrop-bg;

  min-height: 100%!important;
  width: 100%!important;
  height: 100%!important;
  overflow: visible;

  // Fade for backdrop
  &.fade { @include opacity(0); }
  &.in { @include opacity($modal-backdrop-opacity); }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  position: relative;
  padding: $modal-title-padding;
  border-bottom: 1px solid $modal-header-border-color;
//  min-height: ($modal-title-padding + $modal-title-line-height);
  background: $base-background-color;
  @include border-top-radius($border-radius-base);
}
// Close icon
.modal-header .close {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  .icons-no {
    @extend .icons-no;
    display: block;
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

// Title text within header
.modal-title {
  margin: 0;
  line-height: 16px;
  font-size: 16px;
  font-weight: bold;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  padding: $modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid $modal-footer-border-color;
  @include clearfix(); // clear it in case folks use .pull-* classes on buttons
  background: $base-background-color;
  @include border-bottom-radius($border-radius-base);

  .btn {
    font-size: 14px;
    padding: 6px 10px;
    line-height: 14px;
  }

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }

  .btn-primary {
    @include btn-base($border-radius-base);
  }

  .btn-gprimary {
    @include btn-green-base($border-radius-base);
  }

  .btn-default {
    @include btn-gray-base($border-radius-base);
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}