div[role=draftblocks] {
  clear: both;
  width: 720px;

  .component-draftblock {
    clear: both;
    overflow: hidden; //解决子元素浮动时父元素没有被自动撑开的问题
    padding-top: 15px;
    border-bottom: 1px solid #eeeeee;

    .component-draftblock-title {
      display: block;
      font-size: 14px;
      font-weight: bold;
      height: 14px;
      line-height: 14px;
      color: #EE8E00;
      cursor: pointer;
    }

    .component-draftblock-content {
      margin-top: 5px;
      font-size: 14px;
      line-height: $base-content-line-height;
      color: $deep-dark;
      font-family: $base-article-family;

      a {
        color: #259;
        &:hover {
          text-decoration: underline;
        }
      }

      blockquote {
        margin: .8em 0;
      }
      address, blockquote, sup {
        border-left: 3px solid #D0E5F2;
        font-style: normal;
        padding: 0 0 0 10px;
        display: block;
        line-height: 24px;
        vertical-align: baseline;
        font-size: 100%;
      }
    }

    .component-draftblock-action {
      position: relative;
      margin-bottom: 5px;
      color: #999;

      a {
        color: #99783b;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .bull {
        padding: 0 3px;
        color: #BBB;
        display: inline-block;
        font-family: Arial;
      }
    }
  }
}