.ql-header {
  margin-top: 18px;
}

.ql-content {
  overflow: hidden;
  padding-top: 10px;
  margin-bottom: 50px;


  .ql-content-left {
    float: left;
    width: 772px;
    border-right: 1px solid $deep-grey;
  }

  div[role=infoblocks] {
    margin-top: -16px;
    width: 720px;

    //问答信息块的自定义样式，覆盖_component.infoblock.scss的定义
    .component-infoblock {
      border-bottom: 1px solid #eeeeee;

      .component-infoblock-content {
        margin-top: 5px;
      }

      .component-infoblock-title {
        display: block;
        font-size: 15px;
        font-weight: bold;
        height: 15px;
        line-height: 15px;
        color: #50330a;
        margin-bottom: 8px;
      }

      .component-infoblock-right {
        border-bottom: 0;

        .component-infoblock-header {
          margin-bottom: 3px;
        }
      }
    }
  }
}