@import "base";
@import "minixs";
@import "variables";

.user-top {
  margin-top: 15px;
  display: block;

  .user-wrap-content {
    width: 772px;
  }

  .user-profile {
    position: relative;
    background: $base-background-color;
    border:1px solid $deep-grey;
    @include border-radius($border-radius-small);
    height: 158px;

    .user-profile-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background: url(../images/user/user_bg.png);
      z-index: 1;
    }

    .user-profile-container {
      position: absolute;
      top: 0;
      left: 0;
      padding: 21px 31px 0 31px;
      z-index: 2;

      .user-profile-left {
        float: left;
        width: 115px;
        height: 100%;
        z-index: 2;

        .user-profile-logo-container {
          position: relative;
          margin-left: 7px;
          width: 100px;
          height: 100px;
        }

        input[name=picture] {
          display: none;
          font-size: 21px;
          width: 100px;
          height: 23px;
          position: absolute;
        }

        .user-profile-logo {
          @include border-radius($border-radius-base);
          box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
          display: block;
          width: 100px;
          height: 100px;
        }

        .user-profile-logo-edit-button {
          display: none;
          background: #000;
          text-align: center;
          text-indent: 0;
          color: #fff;
          height: 25px;
          left: 0;
          padding: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
          line-height: 25px;
          @include border-bottom-radius($border-radius-base);
          cursor: pointer;
        }

        .user-profile-data {
          margin-top: 10px;
          line-height: 14px;
          text-align: center;
          width: 110px;
          overflow: hidden;

          .desc {
            display: inline-block;
            font-size: 14px;
            color: #333;
          }

          .spilt {
            display: inline-block;
            @extend .icons-split_line_black;
            width: 1px;
            height: 14px;
          }
        }


      }

      .user-profile-right {
        float: left;
        padding-left: 24px;
        height: 100%;
        .user-profile-header {
          clear: both;
          line-height: 23px;
          height: 23px;

          .user-profile-name {
            float: left;
            color: #ffffff;
            font-size: 18px;
          }

          .user-profile-vip {
            float: left;
            display: block;
            margin-top: 3px;
            margin-left: 2px;
            @extend .icons-b_vip;
            width: 23px;
            height: 17px;
          }

          .user-profile-opt {
            float: left;
            margin-left: 8px;
            line-height: 12px;
            margin-top: 5px;

            .user-profile-opt-cont {
              float: left;
              margin-left: 8px;
              margin-right: 8px;
              color: #ffffff;
              font-size: 12px;
              cursor: pointer;

              a {
                color: #ffffff;
              }
            }

            .user-profile-consult, .user-profile-star, .user-profile-private_message {
              float: left;
              display: block;
              margin-top: -1px;
              margin-right: 2px;
            }

            .user-profile-consult {
              @extend .icons-u_question;
              width: 8px;
              height: 12px;
            }

            .user-profile-star {
              @extend .icons-u_star;
              width: 12px;
              height: 12px;
            }

            .user-profile-private_message {
              @extend .icons-u_private_message;
              width: 12px;
              height: 12px;
            }

            .spilt {
              float: left;
              height: 12px;
              width: 1px;
              background: white;
            }
          }

          .icon-profile-male, .icon-profile-female {
            margin-top: 4px;
            width: 16px;
            height: 16px;
            background-image: url(../images/sprites-zh.png);
            background-repeat: no-repeat;
            display: block;
            float: left;
            vertical-align: middle;
          }

          .icon-profile-male {
            background-position: -143px -110px;
          }

          .icon-profile-female {
            background-position: -127px -110px;
          }

          .icon-profile-edit {
            margin-right: 2px;
            width: 12px;
            height: 12px;
            background-position: -221px -46px;
            background-image: url(../images/sprites-zh.png);
            background-repeat: no-repeat;
            display: block;
            float: left;
            vertical-align: middle;
          }
        }

        .user-profile-content {
          @include clearfix;
          margin-top: 5px;

          .user-content-row {
            @include clearfix;
            margin-top: 10px;
            line-height: 14px;
            height: 14px;
          }

          .desc {
            float: left;
            font-size: 14px;
            color: #333;
          }

          .spilt {
            float: left;
            margin: 0 8px;
            display: block;
            width: 1px;
            height: 14px;
            background: #333;
          }

          .icon-profile-profession, .icon-profile-location, .icon-profile-education, .icon-profile-specialized {
            display: block;
            float: left;
            width: 12px;
            margin-right: 8px;
          }

          .icon-profile-profession {
            height: 8px;
            margin-top: 2px;
            @extend .icons-u_profession;
          }

          .icon-profile-location {
            height: 11px;
            margin-left: 2px;
            @extend .icons-u_location;
          }

          .icon-profile-education {
            height: 8px;
            margin-top: 2px;
            @extend .icons-u_education
          }

          .icon-profile-specialized {
            height: 13px;
            @extend .icons-u_specialized
          }
        }
      }
    }
  }



  .user-detail {
    margin-top: 8px;
    min-height: 24px;
    max-height: 45px;
    padding: 8px 31px;
    background: $base-background-color;
    border:1px solid $deep-grey;
    @include border-radius($border-radius-small);
    font-size: 13px;

    .user-detail-left {
      float: left;
      font-weight: bold;
      color: #333;
      height: 100%;
    }

    .user-detail-right {
      color: #333;
    }
  }
}

.user-content {
  .user-wrap-content {
    width: 772px;
  }

  .user-content-categories {
    margin-top: 10px;
  }

  .user-content-header {
    margin-top: 10px;
    border-bottom: 1px solid $deep-grey;
    width: 100%;
    height: 12px;
  }

  .user-main-content {
    overflow: hidden;
    padding-top: 22px;
  }

  .user-content-left {
    float: left;
    width: 772px;
    border-right: 1px solid $deep-grey;
  }

  .user-content-infoblock {
    margin-top: -20px;
  }

}