<p>
  <strong>User:</strong>
  <%= consult_reply.user.last_name %>&nbsp;<%= consult_reply.user.first_name %>
</p>
 
<p>
  <strong>Reply:</strong>
  <%= consult_reply.content %>
</p>

<% if can? :edit, consult_reply %>
	<%= link_to 'Edit', edit_consult_reply_path(consult_reply), 'data-no-turbolink' => true %>
<% end %>
